/* Video presentation tab */
#product_tabs_video_presentation a {
	padding-left: 30px;
	background: transparent url(../images/film_icon.png) no-repeat 8px 7px;
}

#product_tabs_video_presentation a:hover {
	background-color: #dddddd;
}

#product_tabs_video_presentation.active a, #product_tabs_video_presentation.active a:hover {
	background-color: #B31616;
}