<?php if (false): ?>
<script type="text/javascript">
//<![CDATA[
Validation.add('validate-debit-blz', 'Bitte geben Sie eine g&uuml;ltige Bankleitzahl ein!', function(v) {
    if (v.length == 8) {
        return true;
    }
    return false;
});
//]]>
</script>
<?php endif ?>

<fieldset class="form-list">
	<ul id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none">
	<li>
		<div class="input-box">
			<?php if ($this->getMethod()->getCustomText()): ?>
			<?php echo $this->getMethod()->getCustomText() ?><br />
			<?php endif; ?>
		</div>
	</li>
	<li>
		<div class="input-box">
			<label for="systimepayment-ean"><?php echo $this->__('EAN') ?></label><br />
			<input type="text" id="systimepayment-ean" name="payment[po_number]" title="<?php echo $this->__('EAN') ?>" class="input-text" value="" />
		</div>
	</li>
	<li>
		<div class="input-box">
			<label for="systimepayment-oio"><?php echo $this->__('OIO') ?> </label><br />
			<input type="text" id="systimepayment-oio" name="payment[cc_type]" title="<?php echo $this->__('OIO') ?>" class="input-text" value="" />
		</div>
		</li>
		<li>
			<div class="input-box">
				<label for="systimepayment-internal-reference"><?php echo $this->__('Internal Reference') ?> </label><br />
				<input type="text" id="systimepayment-internal-reference" name="payment[cc_owner]" title="<?php echo $this->__('Internal Reference') ?>" class="input-text" value="" />
			</div>
		</li>
		<!--
		<li>
            <div class="input-box">
                <label for="kreditinstitut"><?php echo $this->__('Kreditinstitut') ?> <span class="required">*</span></label><br />
                <input type="text" id="kreditinstitut" name="payment[kreditinstitut]" title="<?php echo $this->__('Kreditinstitut') ?>" class="input-text required-entry" value="" />
            </div>
		</li>
		-->
    </ul>
</fieldset>
