<?php

/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Mage
 * @package    Mage_Debit
 * @copyright  Copyright (c) 2008 Rouven Rieker
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

?>
<p>
	<?php echo $this->getMethod()->getTitle() ?><br />

	<?php if ($this->getMethod()->getEAN()): ?>
	<?php echo $this->__('EAN') ?>: <?php echo $this->getMethod()->getEAN() ?>
	<br />
	<?php endif ?>

	<?php if ($this->getMethod()->getOIO()): ?>
	<?php echo $this->__('OIO') ?>: <?php echo $this->getMethod()->getOIO() ?>
	<br />
	<?php endif ?>

	<?php if ($this->getMethod()->getInternalReference()): ?>
	<?php echo $this->__('Internal Reference') ?>: <?php echo $this->getMethod()->getInternalReference() ?>
	<br />
	<?php endif ?>
</p>
