<?php $_helper = Mage::helper('systimeekeys') ?>
<div class="entry-edit">
<div class="entry-edit-head">
<h4><?php echo $_helper->__('Order E-keys') ?></h4>
</div>
    <fieldset>

<?php
$_info = $this->getEkeysInfo();
if ($_info && isset($_info['successes']) && is_array($_info['successes'])):
?>
		 <?php foreach ($_info['successes'] as $_type => $_items): ?>

		 <?php foreach ($_items as $_item): ?>

<table cellspacing="0" class="form-list">
		 <tbody>
			 <tr>
				 <td class="label"><?php echo $_helper->__('E-key Type') ?></td>
				 <td><?php echo ($_type == 'company') ? $_helper->__('Company license') : $_helper->__('User license') ?></td>
			 </tr>

			 <tr>
				 <td class="label"><?php echo $_helper->__('Publication') ?></td>
				 <td><?php echo $this->htmlEscape($_item->title) ?>
				 <?php if ($_item->mediaTypeName) { echo ' (', $_item->mediaTypeName, ')'; } ?>
				 (<?php echo $this->htmlEscape($_item->sku) ?>)
				 </td>
			 </tr>

			 <tr>
				 <td class="label"><?php echo $_helper->__('Activation period') ?></td>
				 <td><?php echo $this->htmlEscape($_helper->formatActivationPeriod($_item->activation_period)) ?></td>
			 </tr>

			 <tr>
				 <td class="label"><?php echo (count($_item->codes) == 1) ? $_helper->__('E-key code') : $_helper->__('E-key codes') ?></td>
				 <td>
					 <?php foreach ($_item->codes as $code): ?>
					 <?php
						 $_itemcode = $code['code'];
						 $activationCount = intval($code['count']);
						 echo '<a target="systimekeys" href="'.$this->htmlEscape($this->getEKeyActivationUrl($_itemcode)).'">'.$this->htmlEscape($_itemcode).'</a>';
						 if ($activationCount > 1) {
						 echo '<br/>'.sprintf($_helper->__('Number of allowed activations: %1$d'), $activationCount);
						 }
					 ?>
					 <?php endforeach ?>
				 </td>
			 </tr>
			 <?php endforeach ?>
		 </tbody>
	 </table>
		 <?php endforeach ?>
<?php endif ?>

    </fieldset>
</div>
