<?php
/**
 * Fontis WYSIWYG Editor Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Fontis
 * @package    Fontis_Wysiwyg
 * @author     Peter Spiller
 * @author     Lloyd Hazlett
 * @copyright  Copyright (c) 2008 Fontis Pty. Ltd. (http://www.fontis.com.au)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>

<?php $editorType = Mage::getStoreConfig('admin/fontis_wysiwyg/editor_type') ?>

<?php if($editorType == 'tinymce') { ?>
    <script type="text/javascript" src="<?php echo $this->getJsUrl() ?>fontis/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript">
    Event.observe(window, 'load', function() {
        var editable_areas = '<?php echo Mage::getStoreConfig('admin/fontis_wysiwyg/editable_areas') ?>';
        <?php /* Remove the required-entry CSS class so Magento will allow the
           contents of the editor to be submitted. */ ?>
        editable_areas.split(',').each(function(dom_id) {
           if($(dom_id)) {
               $(dom_id).removeClassName('required-entry');
           }
        });
        <?php /* Add TinyMCE to any matching textareas. */ ?>
        tinyMCE.init({
            mode : "exact",
            elements : editable_areas,
            theme : "advanced",
            strict_loading_mode : true,
            width: "640",
            height: "400",
            content_css: "<?php echo $this->getSkinUrl() ?>tinymce_content.css",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            relative_urls : false
        });
    });
    </script>


<?php } else if($editorType == 'fckeditor') { ?>
    <script type="text/javascript" src="<?php echo $this->getJsUrl() ?>fontis/fckeditor/fckeditor.js"></script>
    <script type="text/javascript">
    window.onload = function()
    {
        var editable_areas = '<?php echo Mage::getStoreConfig('admin/fontis_wysiwyg/editable_areas') ?>';
        <?php /* Remove the required-entry CSS class so Magento will allow the
           contents of the editor to be submitted. */ ?>
        editable_areas.split(',').each(function(dom_id) {
           if($(dom_id)) {
               $(dom_id).removeClassName('required-entry');
           }
        });
        <?php /* Add FCKeditor to any matching textareas. */ ?>
        editable_areas.split(',').each(function(dom_id) {
            if($(dom_id)) {
                var fck = new FCKeditor(dom_id);
                fck.Width = '640';
                fck.Height = '450';
                fck.BasePath = "<?php echo $this->getJsUrl() ?>fontis/fckeditor/";
                fck.ReplaceTextarea();
            }
        });
    }
    </script>
<?php } ?>
