{* This is a comment block

Available vars in this template:
  - name            Recipient name
  - email           Recipient Email address
  - product_name    Product name
  - product_url     Url for product
  - product_image   Url for product small image (75 px)
  - message         Sender custom message
  - sender_name     Sender name
  - sender_email    Sender email

Use vars: {{var var_name}}
*}<!--@subject Zahlungs-Transaktion fehlgeschlagen Erinnerung @-->

<table>
    <thead>
        <tr>
            <th>Zahlungs-Transaktion fehlgeschlagen.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    <b>Grund</b><br />
                    {{var reason}}
                </p>
                <p>
                    <b>Kunde:</b><br />
                    <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
                </p>
                <p>
                    <b>Artikel</b><br />
                    {{var items}}
                </p>
                <p>
                    <b>Summe:</b><br />
                    {{var total}}
                </p>
                <p>
                    <b>Rechnungsadresse:</b><br />
                    {{var billingAddress.format('html')}}
                </p>
                <p>
                    <b>Versandadresse:</b><br />
                    {{var shippingAddress.format('html')}}
                </p>
                <p>
                    <b>Versandart:</b><br />
                    {{var shippingMethod}}
                </p>
                <p>
                    <b>Zahlungsart:</b><br />
                    {{var paymentMethod}}
                </p>
                <p>
                    <b>Datum &amp; Zeit:</b><br />
                    {{var dateAndTime}}
                </p>
            </td>
        </tr>
    </tbody>
</table>