{* This is a comment block

Available vars in this template:
  - name            Recipient name
  - email           Recipient Email address
  - product_name    Product name
  - product_url     Url for product
  - product_image   Url for product small image (75 px)
  - message         Sender custom message
  - sender_name     Sender name
  - sender_email    Sender email

Use vars: {{var var_name}}
*}<!--@subject Willkommen {{var name}} @-->

Hallo, {{var name}}<br /><br />Bitte schauen Sie sich <a href="{{var product_url}}">{{var product_name}} an.<br /><br />Nachricht: <br />{{var message}}<br /><br />