<?php
if (is_array($this->getEkeys()) && (count($this->getEkeys()) > 0)): ?>
<dl>
	 <?php foreach ($this->getEkeys() as $key): ?>
	 <dt><?php echo $this->htmlEscape($key->product->getName()) ?></dt>
	 <?php foreach ($key->codes as $code): ?>
	 <dt>
	 <?php
$keycode = $code['code'];
$activationCount = intval($code['count']);
echo '<a href="'.$this->htmlEscape($this->getEKeyActivationUrl($keycode)).'">'.$this->htmlEscape($keycode).'</a>';
if ($activationCount > 1) {
	echo '<br/>'.sprintf($this->__('Number of allowed activations: %1$d'), $activationCount);
}
?>
	 </dt>
	 <?php endforeach ?>
	 <?php endforeach ?>
</dl>
<?php endif ?>
