/* @override http://store.systime.dk/skin/frontend/default/systime_hellosleek_red/css/systime.css */

@import "http://cf.kampyle.com/k_button.css";
@import "http://newtemplate.systime.dk/typo3/ext/systime_labfeed/pi1/styles.css";
@import "frontpage.css";

@import "../../systime_hellosleek_red/css/systime.css";

.author a,
a, a:hover {
    color: #709a00;
}

.cart-totals tfoot td,
.price-excluding-tax .price {
        color: #018ec2;
}

.tabs li.active a, .tabs li.active a:hover {
    background-color: #a5b949;
}

.one-page-checkout .active .head {
    border:1px solid #788711;
}

/* New products on front page */
#new-products-list-table {
    border-spacing: 10px 0;
    margin: 20px 0;
}

#new-products-list-table td {
    vertical-align: top;
    padding: 10px 0;
    background: #f6f6f6;
    border: solid 1px #ddd;
    border-width: 1px 1px 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}

#new-products-list-table tr.prices td {
    vertical-align: bottom;
    border-width: 0 1px 1px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

#new-products-list-table td .product-container {
	padding: 0 10px;
}

#new-products-list-table td .product-container p {
    margin: 0;
}

#new-products-list-table td .product-container p.product-name {
    font-weight: bolder;
    margin-top: 6px;
    margin-bottom: 3px;
}
#new-products-list-table td .product-container p.product-name a {
    text-decoration: none;
    color: #709a00;
}

#new-products-list-table td .product-container .out-of-stock {
    color: #018ec2;
}

#new-products-list-table td .product-image {
    margin: 0;
    text-align: center;
}

#new-products-list-table td .product-image img {
    border: none;
}

#new-products-list-table td .price-box {
    padding: 5px 0 0;
}

.cms-index-index.cms-home .systime-new-products {
    margin-right: 20px;
}
