table.lejepriser td{
	border: solid 1px #999;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-collapse:collapse;
	
	
}

table.lejepriser{
	border: solid 1px #999;
	padding: 2px;
	border-collapse:collapse;
	width: 100%;
	
	
}

table.lejepriser td.header1{
	font-size: 1.15em;
	font-weight: bold;
	color: #FFF;
	background-color: #910006;
	
	
}

table.lejepriser td.header2 {
	font-size: 1em;
	font-weight: bold;
	/*color: #FFF;*/
	background-color: #ccc;
	
	
}
#footer {
	padding:10px 20px !important;
}
#footer .footerlogos {
	min-height: 60px;
	padding-top: 12px
}
#footer .footer-right {
	width: 55% !important;
}

#footer a[href^="http://info.systime.dk"] {
    background: url("../images/footerlogos/knap_moedested.jpg") no-repeat scroll 0 0 transparent;
	height: 29px;
    text-indent: -9999px;
    width: 135px;
	margin-right:3px;
}
#footer .footerlogos a[href^="http://info.via.systime.dk/om-forlaget"] {
    background: url("../images/footerlogos/knap_via-information.jpg") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 29px;
    text-indent: -9999px;
    width: 176px;
	margin-right:3px;
}
/*#footer .footerlogos a[href="http://dansklf.dk"] {*/
a.dansklf {
    background: url("../images/footerlogos/knap_dllf02.jpg") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 29px;
    text-indent: -9999px;
    width: 98px;
}

