/* @override http://store.systime.dk/skin/frontend/default/systime_hellosleek_red/css/frontpage.css */

.box.systime-magasin .head {
    background: transparent url(../images/magasin.gif) no-repeat scroll 0 0;
}

.box.systime-magasin img {
margin-left: 10px;
}

.box.systime-newsletter .head {
    background: transparent url(../images/newsletter.gif) no-repeat scroll 0 0;
}

.box.systime-catalog .head {
    background: transparent url(../images/catalog.gif) no-repeat scroll 0 0;
}

.box.systime-account .head {
    background: transparent url(../images/account.gif) no-repeat scroll 0 0;
}

.box.systime-joboffer .head {
    background: transparent url(../images/stillingsopslag.gif) no-repeat scroll 0 0;
}
	
.box.systime-courses .head {
    background: transparent url(../images/courses.gif) no-repeat scroll 0 0;
}

.box.systime-info .head {
    background: transparent url(../images/practical_info.gif) no-repeat scroll 0 0;
}

.box.systime-news .head {
    background: transparent url(../images/news.gif) no-repeat scroll 0 0;
}

.cms-home .middle {
    padding: 0;
}

.cms-home .base-mini {
    color: #222;
}

.cms-home .col-right {
    margin-top: 10px;
}

.cms-home .col-right {
	float:right;
	width:230px;
	margin-right:15px;
	margin-left: 0;
}

.cms-home .col-right .box .content {
    padding-bottom: 0;
}

.cms-home .col-right .box .content img{
    margin-bottom: 10px;
}

.cms-home .tx-systimelabfeed-pi1 {
    margin-left: 20px;
    margin-right: 20px;

}

.cms-home .tx-systimelabfeed-pi1 span.title,
.cms-home .tx-systimelabfeed-pi1 span.description {
    display: inline;
    margin-left: 0;
}

.cms-home .tx-systimelabfeed-pi1 span.description {
    /* margin-left: .5em; */
	display: block;
	margin-left: 3.5em;
}

.cms-home .tx-systimelabfeed-pi1 .blog-feed .items .item {
    margin-top: 0;
    margin-bottom: 5px;
}

.cms-home .tx-systimelabfeed-pi1,
.cms-home .tx-systimelabfeed-pi1 .blog-feed .items .item span {
    font-size: 12px;
}

.cms-home .tx-systimelabfeed-pi1 p {
    margin-bottom: 0;
}

.cms-home .rounded.box .content {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.middle.layout-2columns {
	padding-top: 6px;
}


.cms-home .box.base-mini ul {
	margin-bottom: 0.9em;
}

.cms-home .box.base-mini li {
	list-style: disc;
	margin-left: 1em;
	color: #AA0C0C;
}
