/* @override http://store.systime.dk/skin/frontend/default/systime_hellosleek_red/css/systime.css
	http://via.systime.dk/skin/frontend/default/systime_hellosleek_via/css/systime.css
	http://test.via.store.systime.dk/skin/frontend/default/systime_hellosleek_via/css/systime.css */

/* @import "http://cf.kampyle.com/k_button.css"; */
/* @import "http://newtemplate.systime.dk/typo3/ext/systime_labfeed/pi1/styles.css"; */
/* @import "frontpage.css"; */

/* override reset.css */
body {
    color: #000;
    font-size: 13px;
    line-height: normal;
}

a,
a:hover {
    color: #aa0c0c;
}

.systime-links * {
	vertical-align: middle;
}

.systime-links a {
	font-weight: bold;
	margin-right: 10px;
	font-size: 16px;
}

.product-info-box .product-name { color:#444; font-size:20px; }

.product-info-box .author       { font-size: 14px; width: 100%; border-bottom: 1px solid #ccc; margin-bottom: 1em; line-height: 20px; }

/* override boxes.css */
.wrapper {
    width: auto;
}

.widget-btn,
.base-mini .regular-price,
.base-mini .special-price,
.base-mini .minimal-price,
.ratings small,
.old-price .price-label,
.old-price .price,
.special-price .price-label,
.special-price .price,
.price-including-tax .label,
.price-including-tax .price,
.price-excluding-tax .label,
.price-excluding-tax .price,
.license_type_table .label,
.license_type_table .price,
.checkout-agreements .agree,
.giftmessage-preview-link {
    /* font-size: 11px; */
    font-size: 13px;
}

.error-msg { border:1px solid #ed5f3d !important; color:#333333 !important; background:#ffbcb4 url(../images/error_msg_icon.png) no-repeat 10px 7px !important; font-style:normal; }
.success-msg { border:1px solid #74a84a !important; color:#333333 !important; background:#cbf09e url(../images/success_msg_icon.png) no-repeat 10px 7px !important; font-style:normal; }
.notice-msg { border:1px solid #fac42a !important; background:#ffe494 url(../images/note_msg_icon.png) no-repeat 10px 7px !important; color:#333333 !important; font-style:normal; }
.warning-msg { border:1px solid #ed5f3d !important; background:#ffbcb4 url(../images/warning_msg_icon.png) no-repeat 10px 7px !important; color:#333333 !important; font-style:normal; }

.messages {
margin-bottom:0px;
overflow:hidden;
width:100%;
}

.error-msg li, .success-msg li, .notice-msg li {
min-height:0px !important; margin-bottom:9px !important; padding:7px 0px 0px 24px !important; font-size:.1.1em !important; font-weight:bold !important; }
}

.special-price {
    padding: 0;
}

#systime-topbar {
    background: #fff;
    /* margin: 4px 1em 0; */
    padding: 4px 1em 0;
    min-height: 23px;
    font-size: 13px;
    width: auto;

    border-bottom: solid 1px #a1a1a1;
}

#systime-topbar .yui-g:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

#systime-topbar .yui-g {
    zoom:1;
}

#systime-topbar .yui-g .yui-u {
    text-align: right;
    float: right;
    width: 49.1%;
}
#systime-topbar .yui-g .yui-u.first {
    text-align: left;
    float: left;
}

#systime-topbar a,
#systime-topbar a:visited {
  color: #AA0C0C;
    text-decoration:none;
}
#systime-topbar a:hover {
    text-decoration:underline;
}

/* Header */
.header {
    padding-top: 0;
}

/* Descriptions */
.product-specs p,
.product-specs ol,
.product-specs ul,
.description p,
.description ol,
.description ul,
.short-description p,
.short-description ol,
.short-description ul  {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.product-specs ol,
.product-specs ul,
.description ol,
.description ul,
.short-description ol,
.short-description ul {
    margin-left: 2em;
}

.product-specs ol li,
.description ol li,
.short-description ol li {
        list-style: decimal outside;
}

.product-specs ul li,
.description ul li,
.short-description ul li {
        list-style: disc outside;
}

/* Media Type Info */

.mediatype-info {margin-top:10px;
}

/* Box ("My Account" etc.) Headers */
.layered-nav .head,
.base-mini .head {
    height:30px;
}
.sregbx  {
    background-color:#eeeeee;
border:solid 1px;
border-color:#dddddd;
margin-left:150px;
margin-right:20px;
margin-top:50px;
}

.sregbx-button-set  {
margin-right:20px;

}


/* Display media types
 */
.listing-item .product-image img,
.product-img-box .product-image img {
    display: block;
}

/* Large icons */
.product-img-box .mediatype .ft {
    text-align: left;
    height: 43px;
    position: relative;

    /* border: solid 2px #f0f; */
}

.product-img-box .mediatype .ft .mediatype-icon {
    position: relative;
    width: 210px;
    height: 92px;
    left: 0;
    top: -49px;
  background: transparent none 0 0 no-repeat;
    /* Pull in front of .product-image-zoom */
    z-index: 20;
}

.product-img-box .mediatype.mediatype-18 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_dvdfilm.png); }
.product-img-box .mediatype.mediatype-19 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_cd-audio.png); }
.product-img-box .mediatype.mediatype-20 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_cd-rom.png); }
.product-img-box .mediatype.mediatype-21 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_e-bog.png); }
.product-img-box .mediatype.mediatype-22 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_website.png); }
.product-img-box .mediatype.mediatype-23 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_book.png); }
.product-img-box .mediatype.mediatype-30 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_misc.png); }
.product-img-box .mediatype.mediatype-31 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_module.png); }
.product-img-box .mediatype.mediatype-970 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_ibog2.png); }

/* Small icons */
.listing-item .mediatype .ft {
    text-align: left;
    height: 19px;
    position: relative;

    /* border: solid 2px #f0f; */
}

.listing-item .mediatype .ft .mediatype-icon {
    position: relative;
    width: 95px;
    height: 42px;
    left: 0;
    top: -21px;
  background: transparent none 0 0 no-repeat;
    /* Pull in front of .product-image-zoom */
    z-index: 20;
}

.listing-item .mediatype.mediatype-18 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_small_dvdfilm.png); }
.listing-item .mediatype.mediatype-19 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_small_cd-audio.png); }
.listing-item .mediatype.mediatype-20 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_small_cd-rom.png); }
.listing-item .mediatype.mediatype-21 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_small_e-bog.png); }
.listing-item .mediatype.mediatype-22 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_small_website.png); }
.listing-item .mediatype.mediatype-23 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_small_book.png); }
.listing-item .mediatype.mediatype-30 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_small_misc.png); }
.listing-item .mediatype.mediatype-31 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_small_module.png); }
.listing-item .mediatype.mediatype-970 .ft .mediatype-icon { background-image: url(../images/mediatypes/mediatype_small_ibog2.png); }


.systime-address-search iframe {
    border: solid 1px #aaa;
    width: 100%;
    height: 15em;
    margin: 5px 0;
}




/* Top navigation */
#nav ul {
	top: 25px;
}

#nav ul li.div {
margin-left: 0;
}

#nav ul li.div div ul {
    position: static;
    border: none;
}

#nav ul li.div div ul,
#nav ul li.div div ul li {
    margin-left: 0;
}

/* Set width of submenu to "a little more" than the width of floated content */
#nav ul {
	width: 19em;
}

/* Help IE6 */
* html #nav li.over ul {
	left: -7px;
}

#nav ul.wide {
    width: 60em;
    width: 54.5em;
    *width: 57em;
}

#nav ul li.div div {
    width: 19em;
    width: 18em;
    float: left;
}

.invisible {
    display: none;
}


/* Search Area at top */
.mini-search {
    left: 0;
    padding-right: 10px;
}

.mini-search h3 {
    font-size: 1.3em;
    font-weight: bolder;
    font-family: arial, helvetica, sans-serif;
    margin: 0;
    color: #222;
}

.mini-search .input-text {
    font-size: 1.3em;
    width: 300px;
    margin: 0 3px 5px 0;
    padding: 3px 6px;
}

.mini-search
.btn{background: url("/skin/frontend/default/systime_hellosleek_via/images/btn_search01.png") no-repeat scroll 0 0 transparent;text-indent:-9999px;border:medium none;display:inline-block;
height:35px;
text-indent:-9999px;cursor:pointer;
width:132px
}



#nav {
    /* padding-left: 12px; */
    font-size: 12px;
}

#nav a {
    font-weight: normal;
}

body {
    color: #222;
}

/* Product details view */
.product-img-box {
    width: 202px;
}

.product-img-box .product-image {
    border: none;
}

.product-info-box {
    width: 500px;
}


.product-options-bottom .price-box {
    width: auto;
}
.product-options-bottom .add-to-cart-box {
    width: auto;
}

.add-to-cart-box {
	white-space: nowrap;
}

.author a {
    color: #aa0c0c;
}

.ajour-info {
    background-color: #fff5cf;
    border: 1px solid #ddd;
    margin: .5em 0;
    padding: 10px 10px 0;
}

.product-shop div.release-date,
.product-info-box div.release-date {
border:1px solid #ffd967 !important;
background:#fffbf0; /* url(../images/note_msg_icon.gif) no-repeat 10px 10px !important; */
color:#3d6611 !important; min-height:23px !important;
margin-bottom:9px !important;
/* padding:10px 0px 0px 10px !important; */
padding: 10px !important;
font-size:.95em !important;
font-weight:bold !important;
/* width: 230px; */
}

.mini-cart .content {
  border-top: none;
}

.box.layered-nav h4 {
  display: none;
}

.systime-customer-type-options {
 margin-top: 10px;
}

/*
.product-shop div.systime-school-only-item,
.product-info-box div.systime-school-only-item {
	border: solid 1px #fac42a;
	background: #ffe494;
	padding: 10px;
}
*/

.shopping-cart div.release-date,
.shopping-cart div.systime-school-only-item {
margin-right: -100%;
}

/* Video presentation tab */
#product_tabs_video_presentation a {
	padding-left: 30px;
	background: transparent url(../images/film_icon.png) no-repeat 8px 7px;
}

#product_tabs_video_presentation a:hover {
	background-color: #dddddd;
}

#product_tabs_video_presentation.active a, #product_tabs_video_presentation.active a:hover {
	background-color: #B31616;
}

/* Order comment field */
#checkout-step-review ul { margin-top: 10px; }

#kataloger > ul > li {
  width: 30%;
  float: left;
}

#kataloger .name.level-0 {
	font-weight: bolder;
	font-size: 120%;
	margin-bottom: 10px;
}

.cms-kataloger .middle {
  padding-left: 0;
  padding-right: 0;
}

/* catalog search info */
p.search-description {
background:url("/skin/frontend/default/systime_hellosleek_red/images/note_msg_icon.png") no-repeat scroll 10px 7px #FFE494 !important;
	background-color: #fff5cf;
    border: 1px solid #ddd;
border-style:solid !important;
border-width:1px !important;
font-size:14px;
font-weight:bold !important;
margin-bottom:1em !important;
padding-left:40px !important;
padding-right:10px;
padding-top:10px;
padding-bottom:10px;
}

.notification {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    border: 1px solid;
    border-radius: 3px 3px 3px 3px;
    clear: both;
    display: block;
    margin: 10px 0;
    padding: 10px 10px 10px 10px;
    background-color: #CEE6F2;
    border-color: #058DC7;
    font-size:13px;
font-weight:bold !important;
text-align:center;
}
