<?php
/**
* @copyright  Copyright (c) 2009 AITOC, Inc. 
*/
?>
<?php $manufacturer = $this->getManufacturer() ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="category-head">
<h2><?php echo $manufacturer->getManufacturer()?></h2>
</div>
<?php 
$linkedin = $manufacturer->getLinkedinUrl();
$systimelab = $manufacturer->getSystimeLabUrl();
?>
<?php if ($linkedin || $systimelab): ?><p><?php endif; ?>
<?php if ($linkedin): ?><a href="<?php echo $linkedin ?>"><img src="<?php echo $this->getSkinUrl('images/linkedin_button.png') ?>" width="88" height="22" alt="LinkedIn"/></a><?php endif; ?>
<?php if ($systimelab): ?> <a href="<?php echo $systimelab ?>"><img src="<?php echo $this->getSkinUrl('images/systimelab_button.png') ?>" width="227" height="22" alt="Systime Lab"/></a><?php endif; ?>
<?php if ($linkedin || $systimelab): ?></p><?php endif; ?>
<?php if ($image = $manufacturer->getImage()): ?>
<img src="<?php echo Mage::helper('aitmanufacturers/image')->resizeWidth(100)->getUrl($image) ?>" alt="<?php echo $this->htmlEscape($manufacturer->getTitle()) ?>" title="<?php echo $this->htmlEscape($manufacturer->getTitle()) ?>" style="float: left; padding: 0 10px 10px 0" />
<?php endif ?>
<?php if ($content = $manufacturer->getContent()): ?>
<?php echo $content ?>
<br /><br />
<?php endif ?>
<?php echo $this->getChildHtml('product_list');?>