<?php
/**
* @copyright  Copyright (c) 2009 AITOC, Inc. 
*/
?>
<?php $items = $this->getItems() ?>
<div class="page-head">
<h3><?php echo $this->__('All Brands')?></h3>
</div>
<div class="content">
<?php if ($cols = count($items)): ?>
<?php $width = floor(100/$cols) ?>
<?php foreach($items as $letters): ?>
<div style="float: left; width: <?php echo $width ?>%;">
<?php foreach ($letters as $letter => $manufacturers): ?>
<dl>
    <dt><?php echo $letter ?></dt>
    <dd>
        <ul class="bare-list">
        <?php foreach ($manufacturers as $manufacturer): ?>
        	<?php if ($manufacturer->getManufacturer()): ?>
            <li>
                <a href="<?php echo $manufacturer->getUrl() ?>"><?php echo $this->htmlEscape($manufacturer->getManufacturer()) ?></a>
            </li>
            <?php endif ?>
        <?php endforeach ?>
        </ul>
    </dd>
</dl>
<?php endforeach ?>
</div>
<?php endforeach ?>
<?php endif ?>
</div>
