<?php
$_items = $this->getItems();
$_helper = Mage::helper('systimesales');
if ($_helper->containsSchoolOnlyItems($_items)) {
	$_blockId = $_helper->getConfig('school_only_items_block_cart', null, 'checkout');
	$_content = Mage::helper('systimemisc')->renderBlock($_blockId, 'systime-school-only-items');
	if ($_content) {
		$link_cart = '<a href="'.$this->getUrl('checkout/cart').'">'.$this->__('Edit Your Cart').'</a>';
		$_content = str_replace('###LINK_CART###', $link_cart, $_content);
		echo '<ul class="notice-msg"><li>'.$_content.'</li></ul>';
	}
}
?>
