<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="da" lang="da">
	<head>
		<title>Systime</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="Default Description" />
		<meta name="keywords" content="Magento, Varien, E-commerce" />
		<meta name="robots" content="INDEX,FOLLOW" />
		<link rel="icon" href="http://www.systime.dk/skin/frontend/default/systime_hellosleek_red/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="http://www.systime.dk/skin/frontend/default/systime_hellosleek_red/favicon.ico" type="image/x-icon" />
		<!--[if lt IE 7]>
				<script defer type="text/javascript" src="http://www.systime.dk/skin/frontend/default/systime_hellosleek_red/js/pngfix.js"></script>
				<![endif]-->
		<link rel="stylesheet" type="text/css" href="http://www.systime.dk/skin/frontend/default/systime_hellosleek_red/css/reset.css" media="all" />
		<link rel="stylesheet" type="text/css" href="http://www.systime.dk/skin/frontend/default/systime_hellosleek_red/css/css3.css" media="all" />
		<link rel="stylesheet" type="text/css" href="http://www.systime.dk/skin/frontend/default/systime_hellosleek_red/css/boxes.css" media="all" />
		<link rel="stylesheet" type="text/css" href="http://www.systime.dk/skin/frontend/default/systime_hellosleek_red/css/menu.css" media="all" />
		<link rel="stylesheet" type="text/css" href="http://www.systime.dk/skin/frontend/default/systime_hellosleek_red/css/clears.css" media="all" />
		<link rel="stylesheet" type="text/css" href="http://www.systime.dk/skin/frontend/default/systime_hellosleek_red/css/print.css" media="print" />
		<link rel="stylesheet" type="text/css" href="http://www.systime.dk/skin/frontend/default/systime_hellosleek_red/css/systime.css" media="all" />
		<!--[if IE]>
				<link rel="stylesheet" type="text/css" href="http://www.systime.dk/skin/frontend/default/systime_hellosleek_red/css/iestyles.css" media="all" />
				<![endif]-->
		<!--[if lt IE 7]>
				<link rel="stylesheet" type="text/css" href="http://www.systime.dk/skin/frontend/default/systime_hellosleek_red/css/ie7minus.css" media="all" />
				<![endif]-->
		<style type="text/css">
/* Move background image to compensate for missing topbar */
body {
	background-position: 0 -23px;
}
		</style>
	</head>
	<body class="cms-index-index cms-home">
		<div class="wrapper">
			<div class="container">
				<div class="header">
					<h1 id="logo"><a href="http://www.systime.dk/"><img src="http://www.systime.dk/skin/frontend/default/default/images/systime_logo3.png" alt="Systime shop!"/></a></h1>
				</div>
				<ul id="nav">
					<li class="level0 single right"><span><a href="http://www.systime.dk/checkout/cart/">Se indkøbskurv</a></span></li>
				</ul>
				<div class="clear"></div>
				<div class="outline-creator">
					<div class="middle layout-1column" id="main">
						<div class="padder-1-column">
							<div class="systime-frontpage">
								<div class="middle layout-2columns">
									<div id="systime-col-right" class="col-right sidebar">
									</div>
									<div id="systime-main" class="col-main">
										<div class="page-head-alt">
											<h3>Der er opstået en uventet fejl &hellip;</h3>
										</div>

										<p>
											Der er desværre opstået en uventet fejl i den
											handling, du forsøger at udføre.  Vores
											IT-afdeling er blevet orienteret om problemet og
											vil løse det hurtigst muligt.
										</p>

										<p>
											Vi beklager ulejligheden!
										</p>

										<h4>Hvad vil du nu?</h4>
										<ul class="disc">
											<li><a onclick="history.go(-1);" href="#">Gå tilbage</a> til den side, du kom fra</li>
											<li>Gå til <a href="http://systime.dk">Systimes forside</a></li>
											<li>Lave en <a href="http://systime.dk/catalogsearch/advanced/">udvidet søgning</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer" id="footer">
					<div class="footer-right">
						<p><span class="phone">70 12 11 00</span> &middot; <a class="mailto" href="mailto:systime@systime.dk">systime@systime.dk</a> &middot; <span class="address">Skt. Pauls Gade 25, 8000 &Aring;rhus C</span></p>
					</div>
					<ul>
						<li><a target="_blank" href="http://info.systime.dk/">Information</a></li>
						<li class="last"><a target="_blank" href="http://info.systime.dk/kontakt">Kontakt</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
