<?php

/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Mage
 * @package    Mage_Debit
 * @copyright  Copyright (c) 2008 Rouven Rieker
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

?>
<p>
<?php echo $this->getMethod()->getTitle() ?><br />

	<?php if ($this->getMethod()->getEan()): ?>
	<?php echo $this->__('EAN') ?>: <?php echo $this->getMethod()->getEan() ?>
	<br />
	<?php endif ?>

	<?php if ($this->getMethod()->getAttention()): ?>
	<?php echo $this->__('IKO') ?>: <?php echo $this->getMethod()->getAttention() ?>
	<br />
	<?php endif ?>

	<?php if ($this->getMethod()->getOrderref()): ?>
	<?php echo $this->__('Order Reference') ?>: <?php echo $this->getMethod()->getOrderref() ?>
	<br />
	<?php endif ?>

	<?php if ($this->getMethod()->getIko()): ?>
	<?php echo $this->__('IKO') ?>: <?php echo $this->getMethod()->getIko() ?>
	<br />
	<?php endif ?>
</p>
