<!--@subject Bekræftelse af konto for {{var customer.name}} @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Kære {{var customer.name}}</strong>, <br/> Velkommen til Magento Demo Store.</p>

                            <p>Din e-mail {{var customer.email}} skal bekræftes før du kan bruge den til at logge ind i vores butik.</p>

                            <p>For at bekræfte e-mail-adressen og logge ind med det samme, brug <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}" style="color:#1E7EC8;">dette bekræftelseslink</a>. Dette link kan kun bruges én gang.</p>

                            <p>Hvis du har spørgsmål til din konto eller andet, så kontakt os gerne på <a href="mailto:dummyemail@magentocommerce.com" style="color:#1E7EC8;">dummyemail@magentocommerce.com</a> eller på telefonnr. (800) DEMO-STORE.</p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
