<!--@subject Nyt password til {{var user.name}} @-->

<style type="text/css">
           body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
      </style>

        <div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
         <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
             <tr>
                    <td align="center" valign="top">
                    <!-- [ header starts here] -->
                      <table cellspacing="0" cellpadding="0" border="0" width="650">
                          <tr>
                                <td valign="top">
                                 <p><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/media/logo_email.gif" _area='frontend'}}" alt="Magento" border="0"/></a></p></td>
                            </tr>
                       </table>

                    <!-- [ middle starts here] -->
                      <table cellspacing="0" cellpadding="0" border="0" width="650">
                          <tr>
                                <td valign="top">
                             <p><strong>K&aelig;re, {{var user.name}}</strong>,<br/>
                               Dit nye kodeord er: {{var password}}</p>
                                                               <p>Du kan &aelig;ndre dit kodeord n&aring;r du vil ved at logge ind p&aring; <a href="{{store url="adminhtml/system_account/"}}" style="color:#1E7EC8;">din Konto</a>.
                                  <p>

                                <p>Tak,<br/><strong>Magento Demo Store</strong></p>


                             </td>
                           </tr>
                       </table>

                    </td>
               </tr>
           </table>
            </div>
