<!--@subject Velkommen, {{var name}} @-->

Velkommen, {{var name}}<br /><br />
Tag venligst et kig p&aring;<a href="{{var product_url}}">{{var product_name}}</a><br />
<br />
Her er beskeden: <br />{{var message}}<br /><br />