<!--@subject {{var order.getStoreGroupName()}}: Gutschrift Nr. {{var creditmemo.increment_id}} Aktualisierung @-->
<style type="text/css">body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
        </tr>
        </table>

        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top">
                <p>
                    <strong>Hallo {{var order.getCustomerName()}}</strong>,<br/>
                    Ihre Bestellung Nr. {{var order.increment_id}} wurde <br/>
                    <strong>{{var order.getStatusLabel()}}</strong>.
                </p>
                <p>Sie können den aktuellen Status Ihrer Bestellung jederzeit <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">in Ihrem Kundenbereich</a> einsehen.</p>
                <p>{{var comment}}</p>
                <p>
                    Sollten Sie Fragen zu Ihrem Kundenkonto oder andere Anfragen haben,
                    senden Sie uns eine E-Mail an <a href="mailto:magento@varien.com" style="color:#1E7EC8;">dummyemail@magentocommerce.com</a>
                    oder rufen Sie uns von Montag bis Freitag von 8.00 bis 17.00 Uhr unter (0800) DEMO-STORE an.
                </p>
                <p>Vielen Dank!<br/><strong>{{var order.getStoreGroupName()}}</strong></p>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
</div>