<?php
/**
 * Description of payment module, shown in checkout process when customer selects payment method
 */
?>
<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
        <li>											
            <?php echo $this->__('After placing the order, your payment will be handled by our PBS-approved payment gateway.') ?>
        </li>
    </ul>
</fieldset>
