<?php
/**
 * Error page
 */
?>
<?php echo $this->getRedirectForm(true) ?>
<h3><?php echo $this->__('Transaction Failed') ?></h3>
<p><?php echo $this->__("The payment did not go through. Please click the button below to try again, or contact us with information about your experience and the error code below.") ?></p>
<p><?php echo $this->__("Error") ?> <?php echo $this->getErrorCode() ?>: <?php echo $this->getErrorString() ?><?php if ($ac = $this->getActionCode()): ?> (<?php echo $ac ?>)<?php endif; ?></p>
<p><input type="button" class="form-button" value="<?php echo $this->__("Proceed to payment") ?>" onclick="$('dandomain').submit()"/></p>