<?php
/**
 * Standalone payment form for use through secure tunnel
 */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Systime | Dandomain Betalingssystem</title>
<style type="text/css">
* { margin: 0; padding: 0; }
body { font-family: Arial, sans-serif; margin: 40px auto; text-align: center; }
body, td { font-size: small; }
#paymentbox { border: 1px solid #999; background-color: #eee; padding: 10px; text-align: left; }
#container { width: 600px; text-align: center; margin: 0 auto; }
#logo { margin: 0 0 6px 6px; text-align: left; }
.footnote { display: inline; background-image: url(https://pay.dandomain.dk/securetunnel-bin.asp?url=<?php echo $this->getSkinUrl('images/secureicon.png') ?>); background-repeat: no-repeat; padding: 4px 0 4px 20px; }
.footnote img { }
.footnote span {  }
.cvc-help { margin-top: 30px; }
h1 { font-size: large; margin-bottom: 1em; }
td { padding: 0 10px 8px 0; }
</style>
</head>
<body>

<div id="container">
	<div id="logo">
		<img src="https://pay.dandomain.dk/securetunnel-bin.asp?url=<?php echo $this->getSkinUrl('images/systimelogo.png'); ?>" width="285" height="36" alt="" />
	</div>
	<div id="paymentbox">
		<h1><?php echo $this->__('Enter Card Details') ?></h1>
		
		<form action="<?php echo $this->getAuthUrl() ?>" method="post">
		
		<input type="hidden" name="MerchantNumber" value="%%MerchantNumber%%" />
		<input type="hidden" name="Amount" value="%%Amount%%" />
		<input type="hidden" name="OrderID" value="%%OrderID%%" />
		<input type="hidden" name="CurrencyID" value="%%CurrencyID%%" />
		<input type="hidden" name="InstantCapture" value="<?php echo $this->getInstantCapture() ?>" />
		<input type="hidden" name="TestMode" value="<?php echo $this->getTestMode() ?>" />
		<input type="hidden" name="OKURL" value="<?php echo $this->getSuccessUrl() ?>" />
		<input type="hidden" name="FAILURL" value="<?php echo $this->getFailUrl() ?>" />
		
		<table border="0" cellpadding="0" cellspacing="0">
		<!--
			<?php echo $_GET['Amount']; ?>
			<?php echo '%%Amount%%'; ?>
		-->
		<tr>
			<td><?php echo $this->__('Amount') ?></td><td><?php echo $this->getAmountForView($_GET['Amount']) ?></td>
		</tr>
		<tr>
			<td><?php echo $this->__('Card number') ?></td><td><input type="text" name="CardNumber" style="width: 200px" /></td>
		</tr>
		<tr>
			<td><?php echo $this->__('Expiration date (month/year)') ?></td><td><?php echo $this->getMonthSelect() ?> / <?php echo $this->getYearSelect() ?></td>
		</tr>
		<tr>
			<td><?php echo $this->__('Verification code') ?></td><td><input type="text" name="CardCVC" style="width: 80px" /></td>
		</tr>
		<tr>
			<td></td><td><input type="submit" value="<?php echo $this->__('Confirm payment') ?>" /></td>
		</tr>
		</table>
		
		</form>
	</div>
	<br />
	<div class="footnote"><?php echo $this->__('Your purchase is safe. Your card data is treated as securely as possible!') ?></div>
	<div class="cvc-help"><img src="https://pay.dandomain.dk/securetunnel-bin.asp?url=<?php echo $this->getSkinUrl('images/kontrolcifre.png') ?>" width="281" height="186" alt="" /></div>
</div>

</body>
</html>
