<?php
/**
 * Standalone payment form for use through secure tunnel
 */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Systime | Dandomain Betalingssystem</title>
<style type="text/css">
* { margin: 0; padding: 0; }
a img { border: 0; }
a, a:hover, a:visited { color: #AA0C0C; }
.clear { clear: both; }
body { font-family: Arial, sans-serif; text-align: center; background: #F1F1F1 url(https://pay.dandomain.dk/securetunnel-bin.asp?url=<?php echo $this->getSkinUrl('images/body_bg.gif') ?>) repeat-x 0 -28px;}
body, td { font-size: small; }
.wrapper { margin: 0 auto; background: transparent url(https://pay.dandomain.dk/securetunnel-bin.asp?url=<?php echo $this->getSkinUrl('images/bg_wrapper.gif') ?>) no-repeat center top; }
.container { margin: 0 auto; text-align: left; width: 980px; }
.header { z-index:999; text-align:left;padding: 0px 0px 20px; }
#logo { float:left; margin-left: 20px;margin-top: 5px; display: inline; }
.mainheader { display: block; height: 47px; background: url(https://pay.dandomain.dk/securetunnel-bin.asp?url=<?php echo $this->getSkinUrl('images/navigation_bg.gif') ?>) no-repeat; }
.main { border-color: #D6D6D6; border-style: solid; border-width: 0 1px 1px 1px; background-color: #FFF; padding: 12px; text-align: center; }
.main form { text-align: left; }
.footer { background:url(https://pay.dandomain.dk/securetunnel-bin.asp?url=<?php echo $this->getSkinUrl('images/footer_bg.gif') ?>) no-repeat bottom right;margin:0px 0 40px 0; color:#666;padding: 12px; text-align: center; }
.footnote { display: inline; background-image: url(https://pay.dandomain.dk/securetunnel-bin.asp?url=<?php echo $this->getSkinUrl('images/secureicon.png') ?>); background-repeat: no-repeat; padding: 4px 0 4px 20px; }
.footnote p { margin: 0 auto; width: auto; }
.footnote img { }
.footnote span {  }
.cvc-help { margin-top: 30px; }
h2 { font-size: large; padding: 12px; }
td { padding: 0 10px 8px 0; }
</style>
</head>
<body>

<div class="wrapper">
	<div class="container">
		<div class="header">
			<div id="logo"><a href="http://www.systime.dk/"><img alt="Systime shop!" src="https://pay.dandomain.dk/securetunnel-bin.asp?url=<?php echo $this->getSkinUrl('images/systime_logo3.png') ?>"/></a></div>
			<div class="clear"></div>
		</div>
		<div class="mainheader">
			<h2><?php echo $this->__('Enter Card Details') ?></h2>
		</div>
		<div class="main">
			<form action="<?php echo $this->getAuthUrl() ?>" method="post">

			<input type="hidden" name="MerchantNumber" value="%%MerchantNumber%%" />
			<input type="hidden" name="Amount" value="%%Amount%%" />
			<input type="hidden" name="OrderID" value="%%OrderID%%" />
			<input type="hidden" name="CurrencyID" value="%%CurrencyID%%" />
			<input type="hidden" name="InstantCapture" value="<?php echo $this->getInstantCapture() ?>" />
			<input type="hidden" name="TestMode" value="<?php echo $this->getTestMode() ?>" />
			<input type="hidden" name="OKURL" value="<?php echo $this->getSuccessUrl() ?>" />
			<input type="hidden" name="FAILURL" value="<?php echo $this->getFailUrl() ?>" />
			<input type="hidden" name="Checksum" value="<?php echo $this->getChecksum() ?>"/>

			<table border="0" cellpadding="0" cellspacing="0">

                <!-- Debug
                        <?php echo 'Replace: ' . '%%Amount%%'; ?>
                	<?php print_r($_GET); ?>)
		-->
			<tr>
				<td><?php echo $this->__('Amount') ?></td><td><?php echo $this->getAmountForView($_GET['Amount']) ?></td>
				<!-- <td><?php echo $this->__('Amount') ?></td><td>%%Amount%%</td> -->
			</tr>
			<tr>
				<td><?php echo $this->__('Card number') ?></td><td><input type="text" name="CardNumber" autocomplete="off" style="width: 200px" /></td>
			</tr>
			<tr>
				<td><?php echo $this->__('Expiration date (month/year)') ?></td><td><?php echo $this->getMonthSelect() ?> / <?php echo $this->getYearSelect() ?></td>
			</tr>
			<tr>
				<td><?php echo $this->__('Verification code') ?></td><td><input type="text" name="CardCVC" autocomplete="off" style="width: 80px" /></td>
			</tr>
			<tr>
				<td></td><td><input type="submit" value="<?php echo $this->__('Confirm payment') ?>" /></td>
			</tr>
			</table>

			</form>

			<div class="footnote"><?php echo $this->__('Credit card transactions are handled through a encrypted connection to avoid unauthorized access to your card data. The information is used for the sole purpose of authorizing the payment at PBS.') ?></div>
			<div class="cvc-help"><img src="https://pay.dandomain.dk/securetunnel-bin.asp?url=<?php echo $this->getSkinUrl('images/kontrolcifre.png') ?>" width="281" height="186" alt="" /></div>
		</div>
		<div class="footer">
												 <p><span class="phone">70 12 11 00</span> &middot; <a href="mailto:systime@systime.dk" class="mailto">systime@systime.dk</a> &middot; <span class="address">Skt. Pauls Gade 25, 8000 &Aring;rhus C</span></p>
		</div>
	</div>
</div>

</body>
</html>
