<?php
/**
 * Local payment form integrated into normal layout (requires SSL)
 */
?>
<h3><?php echo $this->__('Enter Card Details') ?></h3>

<form action="<?php echo $this->getAuthUrl() ?>" method="post">

<input type="hidden" name="MerchantNumber" value="<?php echo $this->getMerchantNumber() ?>" />
<input type="hidden" name="Amount" value="<?php echo $this->getAmountForDD() ?>" />
<input type="hidden" name="OrderID" value="<?php echo $this->getOrderId() ?>" />
<input type="hidden" name="CurrencyID" value="<?php echo $this->getCurrencyCode() ?>" />
<input type="hidden" name="InstantCapture" value="<?php echo $this->getInstantCapture() ?>" />
<input type="hidden" name="TestMode" value="<?php echo $this->getTestMode() ?>" />
<input type="hidden" name="OKURL" value="<?php echo $this->getSuccessUrl(true) ?>" />
<input type="hidden" name="FAILURL" value="<?php echo $this->getFailUrl(true) ?>" />

<table border="0" cellpadding="0" cellspacing="0">
<tr>
	<td><?php echo $this->__('Amount') ?></td><td><?php echo $this->getAmountForView($this->getRawAmount()) ?></td>
</tr>
<tr>
	<td><?php echo $this->__('Card number') ?></td><td><input type="text" name="CardNumber" style="width: 200px" /></td>
</tr>
<tr>
	<td><?php echo $this->__('Expiration date (month/year)') ?></td><td><?php echo $this->getMonthSelect() ?> / <?php echo $this->getYearSelect() ?></td>
</tr>
<tr>
	<td><?php echo $this->__('Verification code') ?></td><td><input type="text" name="CardCVC" style="width: 80px" /></td>
</tr>
<tr>
	<td></td><td><input type="submit" class="form-button" value="<?php echo $this->__('Confirm payment') ?>" /></td>
</tr>
</table>

</form>