<?php
/**
 * Automatic redirect to payment gateway, shown after order is placed if secure tunnel is used
 */
?>
<?php echo $this->getRedirectForm() ?>
<h3><?php echo $this->__('Please wait...') ?></h3>
<p><?php echo $this->__("You should be redirected to the payment system in a moment.") ?></p>
<p><?php echo $this->__("If nothing happens, you may click the button below the proceed to the payment system.") ?></p>
<p><input type="button" class="form-button" value="<?php echo $this->__("Proceed to payment") ?>" onclick="$('dandomain').submit()"/></p>
<script language="javascript">$('dandomain').submit()</script>
