<?php

/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Mage
 * @package    Mage_BankPayment
 * @copyright  Copyright (c) 2008 Andrej Sinicyn
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

?>


<table border="0" cellpadding="2" cellspacing="0">
    <thead>
    <?php echo '<tr><td colspan="3">'.$this->getMethod()->getTitle().'<br /></td></tr>'; ?>
    </thead>
    <tbody>
    <?php echo '<tr><td colspan="3"><div style="font-style: italic;">'.$this->__('Account info').'</div></td></tr>'; ?>
    <?php if ($this->getMethod()->getAccountHolder()): ?>
        <?php echo '<tr><td width="5%">&nbsp;</td><td width="35%"><label>' . $this->__('Account holder') . '</label>:</td><td>' . $this->getMethod()->getAccountHolder(). '</td></tr>'; ?>
    <?php endif; ?>
    <?php if ($this->getMethod()->getAccountNumber()): ?>
        <?php echo '<tr><td width="5%">&nbsp;</td><td width="35%"><label>' . $this->__('Account number') . '</label>:</td><td>' . $this->getMethod()->getAccountNumber(). '</td></tr>'; ?>
    <?php endif; ?>
    <?php if ($this->getMethod()->getSortCode()): ?>
        <?php echo '<tr><td width="5%">&nbsp;</td><td width="35%"><label>' . $this->__('Sort code') . '</label>:</td><td>' . $this->getMethod()->getSortCode(). '</td></tr>'; ?>
    <?php endif; ?>
    <?php if ($this->getMethod()->getBankName()): ?>
        <?php echo '<tr><td width="5%">&nbsp;</td><td width="35%"><label>' . $this->__('Bank name') . '</label>:</td><td>' . $this->getMethod()->getBankName(). '</td></tr>'; ?>
    <?php endif; ?>
    <?php if ($this->getMethod()->getIBAN() && $this->getMethod()->getBIC()): ?>
    	<?php echo '<tr><td colspan="3"><div style="font-style: italic;">'.$this->__('International') .'</div></td></tr>'; ?>
    	<?php echo '<tr><td width="5%">&nbsp;</td><td width="35%"><label>' . $this->__('IBAN') . '</label>:</td><td>' . $this->getMethod()->getIBAN() . '</td></tr>'; ?>
    	<?php echo '<tr><td width="5%">&nbsp;</td><td width="35%"><label>' . $this->__('BIC') . '</label>:</td><td>' . $this->getMethod()->getBIC() . '</td></tr>'; ?>
    <?php endif; ?>

    </tbody>
</table>

<?php  if ($this->getMethod()->getCustomText()): ?>
    <br />
    <?php echo $this->getMethod()->getCustomText(); ?><br />
<?php endif; ?>