<!--@subject Fejl under eNøgle-generering (ordrenr. {{var order.increment_id}}) @-->

<div>
	<h1>Fejl under eNøgle-generering (ordrenr. {{var order.increment_id}})</h1>

	{{var failures_html}}
</div>
