<?php
/**
* @copyright  Copyright (c) 2009 AITOC, Inc. 
*/
?>
<?php $manufacturer = $this->getManufacturer() ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="category-head">
<h2><?php echo $manufacturer->getManufacturer()?></h2>
</div>
<?php if ($image = $manufacturer->getImage()): ?>
<img src="<?php echo Mage::helper('aitmanufacturers/image')->getUrl($image) ?>" alt="<?php echo $this->htmlEscape($manufacturer->getTitle()) ?>" title="<?php echo $this->htmlEscape($manufacturer->getTitle()) ?>" style="float: left; padding: 0 10px 10px 0" />
<?php endif ?>
<?php if ($content = $manufacturer->getContent()): ?>
<?php echo $content ?>
<br /><br />
<?php endif ?>
<?php echo $this->getChildHtml('product_list');?>