<?php
/**
* @copyright  Copyright (c) 2009 AITOC, Inc. 
*/
?>

<?php if (!Mage::getStoreConfig('catalog/aitmanufacturers/manufacturers_show_categories_as_tree')): ?>

    <?php
    /**
    * @desc CATEGORIES: LIST VIEW
    */
    ?>

    <?php $_categories=$this->getCategories() ?>
    <?php $_count = is_array($_categories)?count($_categories):$_categories->count(); ?>
    <?php if($_count): ?>
    <div class="box layered-nav">
        <div class="head">
            <h3 class="title"><?php echo $this->__('Browse By') ?></h3>
        </div>
        <h4><?php echo $this->__('Shopping Options') ?></h4>
        <div class="content no-padding">
            <div class="narrow-by">
                <dl id="narrow-by-list">
                    <dt><?php echo $this->__('Category') ?></dt>
                    <dd>
                        <ol>
                        <?php foreach ($_categories as $_category): ?>
                            <?php if($_category->getIsActive()): ?>
                            <li>
                                <a href="<?php echo $this->getCategoryUrl($_category) ?>"><?php echo $this->htmlEscape($_category->getName()) ?></a>
                            </li>
                            <?php endif; ?>
                        <?php endforeach ?>
                        </ol>
                    </dd>
                </dl><script type="text/javascript">decorateDataList('narrow-by-list')</script>
            </div>
        </div>
    </div>
    <?php endif; ?>
    

<?php else: ?>



    <?php
    /**
    * @desc CATEGORIES: TREE VIEW
    */
    ?>
    <?php 

    $treeList = $this->getCategoryTreeList();

    ?>
    <div class="box layered-nav aitcategorytree">
        <div class="head">
            <h3><?php echo $this->__('Browse By') ?></h3>
        </div>
        <h4><?php echo $this->__('Shopping Options') ?></h4>
        
        <div class="content no-padding">
            <div class="narrow-by">
                <dl id="narrow-by-list">
                    <dt><?php echo $this->__('Category') ?></dt>
                    <dd>
                        <ol>
                            <?php 
                            foreach ($treeList as $category): 
                                $_category = Mage::getModel('catalog/category')->load($category['id']);
                            ?>
                                <?php if($_category->getIsActive()): ?>
                                <li style="padding-left: <?php echo 12 * $category['level']; ?>px;">
                                    <?php if ($category['is_link']): ?>
                                        <a href="<?php echo $this->getCategoryUrl($_category) ?>">
                                    <?php endif; ?>
                                    <?php echo $this->htmlEscape($_category->getName()) ?>
                                    <?php if ($category['is_link']): ?>
                                        </a>
                                    <?php endif; ?>
                                </li>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        </ol>
                    </dd>
                </dl><script type="text/javascript">decorateDataList('narrow-by-list')</script>
            </div>
        </div>
    </div>



<?php endif; ?>