<?php
/**
* @copyright  Copyright (c) 2009 AITOC, Inc. 
*/
?>
<?php $manufacturers = $this->getItems() ?>
<?php if (count($manufacturers)): ?>
<div class="box base-mini">
    <div class="head">
        <h4 class="title"><?php echo $this->__('Brands') ?></h4>
        <?php if ($this->getTotal() > count($manufacturers)): ?>
        <a href="<?php echo Mage::helper('aitmanufacturers')->getManufacturersUrl() ?>" title="<?php echo $this->__('Full list of Brands')?>"><?php echo $this->__('View All')?></a>
        <?php endif ?>
    </div>
    <div class="content">
    <?php foreach ($manufacturers as $manufacturer): ?>
    <a href="<?php echo $manufacturer->getUrl() ?>"><?php echo $this->htmlEscape($manufacturer->getManufacturer()) ?></a><br />
    <?php endforeach ?>
    </div>
</div>
<?php endif ?>