<?php
/**
 * Meat Media AS 
 * Dibs Payment Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Meatmedia
 * @package    Meatmedia_Dibs
 * @author     Meat Media AS
 * @author     Chris Magnussen
 * @copyright  Copyright (c) 2008 Fontis Pty. Ltd. (http://www.fontis.com.au)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
        <li>
        	<A HREF="http://www.dibs.dk/" TARGET="_blank"><IMG SRC="http://tech.dibs.dk/images/stories/Internet/Logos/DIBS_Logos/dibs_blaa_rgb_certified.jpg" BORDER="0"></a>
            <?php echo $this->__('You will be redirected to DIBS when you place an order.') ?>
        </li>
    </ul>
</fieldset>

