html {
  color: #000;
  background: #FFF; }

body, div, ul, ol, li, h1, h2, p {
  margin: 0;
  padding: 0; }

em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

h1, h2 {
  font-size: 100%;
  font-weight: normal; }

body {
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
  *font-size: small;
  *font: x-small; }

html, body {
  background-color: #fff;
  font-family: Tahoma; }

#page {
  max-width: 800px;
  margin: 20px auto 40px auto; }

.page-bd {
  position: relative; }
  .page-bd .page-bd-content {
    position: relative;
    padding-top: 20px;
    padding-bottom: 1px; }
  .page-bd .page-bd-content, .page-bd .page-bd-content .t, .page-bd .b, .page-bd .b div {
    background-color: transparent;
    background-image: url(page.png);
    background-repeat: no-repeat;
    background-position: top right; }
  .page-bd .page-bd-content .t {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    margin-left: -20px;
    height: 100%;
    _height: 1600px; // arbitrary long height, IE 6;
    background-position: top left; }
  .page-bd .b {
    position: relative;
    width: 100%;
    background-position: bottom right; }
  .page-bd .b, .page-bd .b div {
    height: 20px;
    font-size: 1px; }
  .page-bd .b div {
    position: relative;
    width: 20px;
    margin-left: -20px;
    background-position: bottom left; }
  .page-bd-content {
    min-height: 485px;
    padding: 1px; }

.box {
  position: relative;}
  .box .box-content {
    position: relative;
    padding-top: 20px;
    padding-bottom: 1px; }
  .box .box-content, .box .box-content .t, .box .b, .box .b div {
    background-color: transparent;
    background-image: url(box.png);
    background-repeat: no-repeat;
    background-position: top right; }
  .box .box-content .t {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    margin-left: -20px;
    height: 100%;
    _height: 1600px; // arbitrary long height, IE 6;
    background-position: top left; }
  .box .b {
    position: relative;
    width: 100%;
    background-position: bottom right; }
  .box .b, .box .b div {
    height: 20px;
    font-size: 1px; }
  .box .b div {
    position: relative;
    width: 20px;
    margin-left: -20px;
    background-position: bottom left; }
  .box-content {
    position: relative;
    z-index: 2; }

a {
  text-decoration: none;
  color: #e30d0d; }
  a:hover {
    text-decoration: underline; }

.box {
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -20px; }
  .box li a {
    color: #000; }

#ft {
  color: #888;
  margin-top: 20px;
  text-align: right; }

.box .hd h1 {
  font-size: 182%;
  font-style: italic; }
  .box .hd h1 a {
    color: #e30d0d; }
    .box .hd h1 a:after {
      content: " »"; }
.box .bd h2 {
  margin-top: .5em;
  font-size: 100%;
  font-weight: bold; }
  .box .bd h2 a {
    color: #e30d0d; }

* html #page {
  width: 800px; }
* html .page-bd-content {
  height: 485px; }
* html .box {
  width: 300px;
  margin-left: -40px;
  border: solid 1px #aaa;
  background: #fff;}
  * html .box .box-content {
    background-image: none; }
  * html .box .box-content .t,
  * html .box .b {
    display: none; }
* html .box-content {
  padding: 20px !important; }
