html {
  overflow-y: scroll;
}

body {
	background: #989898 url("bg.png") 0 0 repeat-x;
}

#nav-wrapper,
.container {
	width: 998px;
}

#nav-wrapper {
	padding: 0 29px;
}
#nav {
	width: 940px;
	font-size: 13px;
}

.wrapper,
#nav {
	background: none;
}

.breadcrumbs  {
	border: none;
	padding: 20px 20px 10px !important;
	background: transparent url("bg_sprite.png") 0 0 no-repeat;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.header {
	background: transparent url("bg_top.jpg") 0 100% no-repeat;
	padding-bottom: 20px;
	margin: 0;
}

.cms-home .header {
	background: transparent url("bg_top_front.jpg") 0 100% no-repeat;
	padding-bottom: 30px;
}

x.cms-kataloger .middle {
	padding: 0;
}

.outline-creator {
	border: none;
	background: none;
}

.cms-home
.outline-creator {
	background: transparent url("bg_center_front.png") 0 0 no-repeat;
}

.middle {
	background: transparent url("bg_middle.png") 0 0 repeat-y;
	border: none;
	padding-left: 9px;
	padding-right: 9px;
}

x.cms-home .col-main {
	width: 720px;
}

.cms-home .col-right {
	margin-right: 20px;
}

.cms-home .breadcrumbs,
.cms-home .middle {
	background: none;
}

.cms-home .breadcrumbs {
	visibility: hidden;
}

.footer {
	background: transparent url("bg_sprite.png") 0 100% no-repeat;
	padding: 20px;
}

.cms-home .footer {
	background: transparent url("bg_buttom_front.png") 0 100% no-repeat;
}

#nav {
	border: none;
}

#nav a {
	color: #fff;
}

#nav li,
#nav li.right {
	/* background: transparent url("nav_down.png") 100% -5px no-repeat; */
	background: transparent url("nav_down.png") 100% -4px no-repeat;
	border-right: solid 1px #333;
	border-left: solid 1px #333;
	/* padding-top: 0 !important; */
	/* padding-bottom: 0 !important; */
}
#nav li+li {
	border-left: none;
}
x#nav li:first-child,
x#nav li.right {
	border-left: solid 1px #333;
}

#nav li.right {
	background: none;
}

#nav li.single a {
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	background: transparent url("icon_basket.png") 100% 0 no-repeat;
	padding-right: 24px;
}

#nav li.single a:hover {
	color: #fff;
	text-decoration: underline;
}

#nav li.staticlink {
	background: none;
	padding-right: 19px;
}

#search_mini_form {
	display: block;
	clear: none;
	/* padding: 50px; */
	padding-top: 5px;
}

.cms-home #search_mini_form {
	display: block;
	/* margin: 40px 0 0 !important; */
	margin-top: 17px !important;
	padding-top: 0;
}


h1#logo {
	margin: 0;
	padding: 5px 0 0 20px;
}

.cms-home h1#logo {
	float: none;
}

.mini-search {
	position: static;
	float: none;
	text-align: center;
	text-align: right;
	padding-right: 60px;
}

.cms-home .mini-search {
	text-align: center;
	padding-right: 10px;
}

.mini-search h3 {
	font-size: 16px;
}

.mini-search button.btn {
	border: none;
	display: inline-block;
	background: transparent url("btn_search.png") 0 0 no-repeat;
	width: 132px;
	height: 44px;
	text-indent: -9999px;
}

#search {
	padding: 5px 2px 2px 7px;
	border-style: inset;
	border-color: #ccc;
	border-width: 1px;
	/* border-left: 1px solid #666666; */
	/* border-top: 1px solid #999999; */
	height: 21px;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#nav ul li.div div {
	width:32%;
}

#nav ul {
	/* border: solid 1px #fff; */
	border: solid 1px #333;
	/* border-width: 0 1px 1px; */
	margin-top: -1px;
	/* z-index: 1; */
	top: 17px;
}
#nav li.over > ul {
	left: -1px;
}

#nav li {
	padding-top: 0;
	padding-bottom: 1px;
}

#nav li.over,
#nav li.active {
	/* background: #666 url("nav_down.png") 100% -5px no-repeat; */
	background: #666 url("nav_down.png") 100% -4px no-repeat;
}

#nav a, #nav a:hover {
	line-height: normal;
}

.tx-systimelabfeed-pi1 .bd .info {
	float: left;
	width: 200px;
}

.tx-systimelabfeed-pi1 .bd .info .systime-misc-block {
	background: #eee;
	border: solid 1px #aaa;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 15px;
}

.tx-systimelabfeed-pi1 .hd {
	margin-bottom: 15px;
}

.tx-systimelabfeed-pi1 .bd .feed {
	margin-left: 210px;
}

.tx-systimelabfeed-pi1 .ft {
	clear: both;
	font-size: 32px;
	text-align: right;
}

.padder-1-column {
	padding: 1px 10px;
}

.cms-home .padder-1-column {
	padding: 0;
}

#footer {
	padding: 10px 43px !important;
	margin: 0 !important;
}

#footer a[href^="http://info.systime.dk"] {
	display: inline-block;
	background: transparent url("btn_moedested.png") 0 0 no-repeat;
	width: 149px;
	height: 23px;
	text-indent: -9999px;
}

#footer .footer-right {
	padding-top: 5px;
}

.systime-misc-block.systimelab-info h1 {
	font-size: 12px;
	font-weight: bold;
	/* margin: 0 0 6px; */
	/* display: block; */
}

.systime-misc-block.systimelab-info p {
	margin: 2px 0 5px;
}
.footer {
    background: url("bg_buttom_front.png") no-repeat scroll 0 100% transparent;
}

.footer-right {
	width: 60% !important;
}
