<?php // Render "Find billing address" ?>
<script type="text/javascript">
if (typeof Systime == 'undefined') {
var Systime = {};
}
(function() {
	Systime.findEanNumber = function() {
		Element.show("ean_number-address-search");
	}
	Systime.setEanNumber = function(address) {
		Element.hide("ean_number-address-search");
		if (address) {
			var map = {
				"ean" : "systimepayment_invoice_ean"
			};
			for (var p in map) {
				var field = $(map[p]);
				if (field && address[p]) {
					field.value = address[p];
				}
			}
		}
	}
}());
		</script>
		<?php
		$storeId = Mage::app()->getStore()->getId();
		$lang = Mage::app()->getLocale()->getDefaultLocale();

$_helper = Mage::helper('systimemisc');
$searchUrl = '/scripts/systime/searchcompanies.php?callback=Systime.setEanNumber&lang='.$lang.'&showean=1';
?>
<div class="systime-address-search">
<div class="hd">
<button type="button" onclick="Systime.findEanNumber()"><?php echo $_helper->__('Find EAN Number') ?></button>
</div>
<div class="bd">
<iframe id="ean_number-address-search" style="display: none" frameborder="0" src="<?php echo htmlspecialchars($searchUrl) ?>"></iframe>
</div>
</div>
