<?php if (false): ?>
<script type="text/javascript">
//<![CDATA[
Validation.add('validate-debit-blz', 'Bitte geben Sie eine g&uuml;ltige Bankleitzahl ein!', function(v) {
    if (v.length == 8) {
        return true;
    }
    return false;
});
//]]>
</script>
<?php endif ?>

<fieldset class="form-list">
	<ul id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none">
	<li>
		<div class="input-box">
			<?php if ($this->getMethod()->getCustomText()): ?>
			<?php echo $this->getMethod()->getCustomText() ?><br />
			<?php endif; ?>
		</div>
	</li>
	<li>
		<div class="input-box">
			<label for="systimepayment_invoice_ean"><?php echo $this->__('EAN') ?></label><br />
			<input type="text" id="systimepayment_invoice_ean" name="payment[systimepayment_invoice_ean]" title="<?php echo $this->__('EAN') ?>" class="input-text" value="" />
		</div>
	</li>
	<li>
		<div class="input-box">
			<label for="systimepayment_invoice_attention"><?php echo $this->__('Attention') ?> </label><br />
			<input type="text" id="systimepayment_invoice_attention" name="payment[systimepayment_invoice_attention]" title="<?php echo $this->__('Attention') ?>" class="input-text" value="" />
		</div>
		</li>
		<li>
			<div class="input-box">
				<label for="systimepayment_invoice_orderref"><?php echo $this->__('Order Reference') ?> </label><br />
				<input type="text" id="systimepayment_invoice_orderref" name="payment[systimepayment_invoice_orderref]" title="<?php echo $this->__('Order Reference') ?>" class="input-text" value="" />
			</div>
		</li>
		<li>
			<div class="input-box">
				<label for="systimepayment_invoice_iko"><?php echo $this->__('IKO') ?> </label><br />
				<input type="text" id="systimepayment_invoice_iko" name="payment[systimepayment_invoice_iko]" title="<?php echo $this->__('IKO') ?>" class="input-text" value="" />
			</div>
		</li>
					</ul>
</fieldset>
