<!--@subject {{var order.getStoreGroupName()}}: Opdatering til kreditnota # {{var creditmemo.increment_id}} @-->
<style type="text/css">body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
        </tr>
        </table>

        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top">
                <p>
                    <strong>K&aelig;re {{var order.getCustomerName()}}</strong>,<br/>
              Din ordre # {{var order.increment_id}} er blevet<br/>
                    <strong>{{var order.getStatusLabel()}}</strong>.
                </p>
                <p>Du kan checke status p&aring; din ordre ved at  <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">logge ind p&aring; din konto</a>.</p>
                <p>{{var comment}}</p>
                <p>Hvis du skulle have nogle sp&oslash;rgsm&aring;l s&aring; kontakt os p&aring; e-mail: <a href="mailto:magento@varien.com" style="color:#1E7EC8;">dummyemail@magentocommerce.com</a> 
                    eller telefon (800) DEMO-STORE.                </p>
              <p>Tak,<br/>
                <strong>{{var order.getStoreGroupName()}}</strong></p>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
</div>