<div class="padder">
	<div class="button-set">
		<?php if (false): ?>
		<a href="<?php echo $this->getBackUrl() ?>" class="f-left">&laquo; <?php echo $this->__('Back') ?></a>
		<?php else: ?>
<?php
$_url = Mage::helper('systimesso')->getConfig('home_url');
if ($_url):
?>
		<a href="<?php echo $this->htmlEscape($_url) ?>" class="f-left">&laquo; <?php echo $this->__('Go to My Account') ?></a>
		<?php endif ?>
		<?php endif ?>
	</div>
</div>
