/* @override http://store.systime.dk/skin/frontend/default/systime_hellosleek_red/css/frontpage.css */

.box.systime-magasin .head {
    background: transparent url(../images/magasin.gif) no-repeat scroll 0 0;
}

.box.systime-newsletter .head {
    background: transparent url(../images/newsletter.gif) no-repeat scroll 0 0;
}

.box.systime-catalog .head {
    background: transparent url(../images/catalog.gif) no-repeat scroll 0 0;
}

.box.systime-account .head {
    background: transparent url(../images/account.gif) no-repeat scroll 0 0;
}

.box.systime-joboffer .head {
    background: transparent url(../images/stillingsopslag.gif) no-repeat scroll 0 0;
}

.box.systime-who-are-we .head {
    background: transparent url(../images/who-are-we.gif) no-repeat scroll 0 0;
}

.box.systime-new-authors .head {
    background: transparent url(../images/new-authors.gif) no-repeat scroll 0 0;
}

.box.systime-info .head {
    background: transparent url(../images/practical_info.gif) no-repeat scroll 0 0;
}

.cms-home .middle {
    padding: 0;
}

.cms-home .base-mini {
    color: #222;
}

.cms-home .systime-frontpage .col-right {
    margin-top: 10px;
   
}

.cms-home .col-right       { float:right; width:230px; margin-right:15px; margin-left: px;}


.cms-home .systime-frontpage .col-right .box .content {
    padding-bottom: 0;
}

.cms-home .systime-frontpage .col-right .box .content img{
    margin-bottom: 10px;
}

.cms-home .systime-frontpage .tx-systimelabfeed-pi1 {
    margin-left: 12px;
    margin-right:  29px;

}

.cms-home .systime-frontpage .tx-systimelabfeed-pi1 span.title,
.cms-home .systime-frontpage .tx-systimelabfeed-pi1 span.description {
    display: inline;
    margin-left: 0;
}

.cms-home .systime-frontpage .tx-systimelabfeed-pi1 span.description {
    margin-left: .5em;
}

.cms-home .systime-frontpage .tx-systimelabfeed-pi1 .blog-feed .items .item {
    margin-top: 0;
    margin-bottom: 5px;
}

.cms-home .systime-frontpage .tx-systimelabfeed-pi1,
.cms-home .systime-frontpage .tx-systimelabfeed-pi1 .blog-feed .items .item span {
    font-size: 12px;
}

.cms-home .systime-frontpage .tx-systimelabfeed-pi1 p {
    margin-bottom: 0;
}

.cms-home .systime-frontpage .rounded.box .content {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.middle.layout-2columns {
	padding-top: 6px;
}
