<!--@subject E-keys from Systime (order {{var order.increment_id}})@-->

<style type="text/css">
	body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
	<div>Hi {{var order.getCustomerName()}}!</div>
	<div>
		{{layout handle="systimeekeys_email_success_items" ekeys=$ekeys}}
	</div>
</div>
