<?php if ($this->getShowContainer()): ?><div class="product-options"><?php endif; ?>
<?php
$_attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes());
?>
<?php foreach($_attributes as $_attribute): ?>
	<?php if ($_attribute->getProductAttribute()->getAttributeCode() == 'licens_type'): ?>
	<?php // mri@systime.dk 2010-04-15
		if (is_array($_attribute->getPrices())): ?>
		<table class="license_type_table">
		<?php foreach($_attribute->getPrices() as $_price): ?>
			<tr><td><span class="license-name"><?php echo $_price['label']; ?></span></td>
				<td class="price-column">
					<span class="price-including-tax">(<span class="label"><?php echo $this->__('incl. tax') ?> </span><?php echo Mage::helper('core')->currency($_price['pricing_value'],true,true) ?>)</span><span class="price-excluding-tax"><?php echo Mage::helper('core')->currency($_price['pricing_value']/1.25,true,true) ?></span>
					</div>
				</td></tr>
		<?php endforeach; ?>
		</table>
	<?php endif ?>
	<?php break; endif; ?>
<?php endforeach; ?>
<?php if ($this->getShowContainer()): ?></div><?php endif; ?>
