<!-- Systime_Sales -->

<ul>
	<li>
		<div class="input-box">
			<label for="billing:systimesales_taxvat"><?php echo $this->__('Tax/VAT number') ?> (kun for udenlandske kunder)</label><br/>
			<input type="text" name="billing[systimesales_taxvat]" value="<?php echo $this->htmlEscape($this->getAddress()->getSystimesalesTaxvat()) ?>" title="<?php echo $this->__('Tax/VAT number') ?>" class="input-text" id="billing:systimesales_taxvat"/>
			</div>
		</li>
</ul>

<div id="systimesales-billing" class="systime-customer-type-school invisible">
	<?php
		$systimesales = Mage::helper('systimesales');
?>
	<ul>
		<li><?php echo $systimesales->__('Indkøbsoplysninger (OIO)') ?></li>
		<li>
			<input type="hidden" name="billing[systimesales_companynumber]" value="<?php echo $this->htmlEscape($this->getAddress()->getSystimesalesCompanynumber()) ?>" id="billing:systimesales_companynumber"/>
			<div class="input-box">
				<label for="billing:systimesales_ean"><?php echo $systimesales->__('EAN-lokationsnr.') ?></label><br/>
				<input type="text" name="billing[systimesales_ean]" value="<?php echo $this->htmlEscape($this->getAddress()->getSystimesalesEan()) ?>" title="<?php echo $systimesales->__('EAN-lokationsnr.') ?>" class="input-text" id="billing:systimesales_ean"/>
			</div>
<?php if (false): ?>
			<div class="input-box">
				<label for="billing:systimesales_oioattention"><?php echo $systimesales->__('Personreference') ?></label><br/>
				<input type="text" name="billing[systimesales_oioattention]" value="<?php echo $this->htmlEscape($this->getAddress()->getSystimesalesOioattention()) ?>" title="<?php echo $systimesales->__('Personreference') ?>" class="input-text" id="billing:systimesales_oioattention"/>
			</div>
<?php endif ?>
		</li>
<?php if (false): ?>
		<li>
			<div class="input-box">
				<label for="billing:systimesales_oiorequisnumber"><?php echo $systimesales->__('Ordrereference') ?></label><br/>
				<input type="text" name="billing[systimesales_oiorequisnumber]" value="<?php echo $this->htmlEscape($this->getAddress()->getSystimesalesEan()) ?>" title="<?php echo $systimesales->__('Ordrereference') ?>" class="input-text" id="billing:systimesales_oiorequisnumber"/>
			</div>
			<div class="input-box">
				<label for="billing:systimesales_iko"><?php echo $systimesales->__('Internt konteringsnr. (IKO)') ?></label><br/>
				<input type="text" name="billing[systimesales_iko]" value="<?php echo $this->htmlEscape($this->getAddress()->getSystimesalesIko()) ?>" title="<?php echo $systimesales->__('Internt konteringsnr. (IKO)') ?>" class="input-text" id="billing:systimesales_iko"/>
			</div>
		</li>
<?php endif ?>
	</ul>
</div>
