<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Varien
 * @package    Varien_Object
 * @copyright  Copyright (c) 2008 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php echo $this->template('header.phtml') ?>
<?php if ($returnUrl = $this->controller()->session()->getReturnUrl()): ?>
<a class="f-right" href="<?php echo $returnUrl ?>">Return to Magento Administration</a>
<?php endif ?>
<div style="width:300px; padding:20px; margin:90px auto !important; background:#f6f6f6;">
<form method="post" action="#">
    <h2 class="page-head">Log In</h2>
    <p><small>Please re-enter your Magento Adminstration Credentials.<br/>Only administrators with full permissions will be able to log in.</small></p>
    <table class="form-list">
        <tr><td class="label"><label for="username">Username:</label></td><td class="value"><input id="username" name="username" value="<?php echo htmlentities($this->get('username'))?>"/></td></tr>
        <tr><td class="label"><label for="password">Password:</label></td><td class="value"><input type="password" id="password" name="password"/></td></tr>
        <tr><td></td>
            <td class="value"><button type="submit">Log In</button></td></tr>
        </table>
</form>
</div>
<?php echo $this->template('footer.phtml') ?>