<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Varien
 * @package    Varien_Object
 * @copyright  Copyright (c) 2008 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php echo $this->template('header.phtml') ?>

<h2 class="page-head">Settings</h2>
<form action="<?php echo $this->url('settingsPost') ?>" method="POST">
    <fieldset>
        <p>Magento Extensions are available in three different versions.</p>
        <ul class="disc">
            <li><strong>Stable</strong> means the extension can be used in a production environment.</li>
            <li><strong>Beta</strong> means the extension is not recommended for use in a production environment.</li>
            <li><strong>Alpha</strong> means the extension is still in development.</li>
        </ul>
        <p>Please note: extensions are provided as is. Make sure to backup your data before installing new extensions.</p>
        <table cellspacing="0" class="form-list">
            <tr>
                <td class="label">Preferred State:</td>
                <td class="value">
                    <select id="preferred_state" name="preferred_state" style="width:150px;">
                        <option value="stable" <?php if ($this->get('state')=='stable'):?>selected="selected"<?php endif ?>>Stable</option>
                        <option value="beta" <?php if ($this->get('state')=='beta'):?>selected="selected"<?php endif ?>>Beta</option>
                        <option value="alpha" <?php if ($this->get('state')=='alpha'):?>selected="selected"<?php endif ?>>Alpha</option>
                    </select>
                </td>
            </tr>
            <!--
            <tr>
                <td class="label">Magento Installation Directory:</td>
                <td class="value"><input name="mage_dir" value="<?php echo htmlentities($this->get('mage_dir'))?>" style="width:250px;"/></td>
            </tr>
            -->
        </table>
        <p><button type="submit">Save Settings</button></p>
    </fieldset>
</form>

<?php echo $this->template('footer.phtml') ?>

