<?php
	$_helper = Mage::helper('systimesso');
?>
<div id="systime-topbar">
	<div class="yui-g">
		<div class="yui-u first">
<!--
			<a href="http://systime.dk">
		<img class="systime-logo" src="http://konto.systime.dk/typo3conf/ext/systime_sso/pi1/logo.png" alt="Systime &gt;"/>
</a>
-->
		</div>
		<div class="yui-u">
			<?php if (Mage::getSingleton('customer/session')->isLoggedIn()): ?>
			<?php $_customer = Mage::getSingleton('customer/session')->getCustomer() ?>
			<?php echo $this->htmlEscape($_customer->getEmail()) ?>

			<?php if ($url = $_helper->getConfig('activate_ekey_url')): ?>
			&sdot;
			<a href="<?php echo $this->htmlEscape($url) ?>"><?php echo $this->__('Activate E-key') ?></a>
			<?php endif ?>

			<?php if ($url = $_helper->getConfig('home_url')): ?>
			&sdot;
			<a href="<?php echo $this->htmlEscape($url) ?>"><?php echo $this->__('My Account') ?></a>
			<?php endif ?>

			<?php if ($url = $_helper->getConfig('signout_url')): ?>
			&sdot;
			<a href="<?php echo $this->htmlEscape($url) ?>"><?php echo $this->__('Sign Out') ?></a>
			<?php endif ?>

			<?php else: ?>


			<?php if ($url = $_helper->getConfig('activate_ekey_url')): ?>
			<a href="<?php echo $this->htmlEscape($url) ?>"><?php echo $this->__('Activate E-key') ?></a>
			&sdot;
			<?php endif ?>


			<?php if ($url = $_helper->getConfig('new_account_url')): ?>
			<a href="<?php echo $this->htmlEscape($url) ?>"><?php echo $this->__('New Account') ?></a>
			&sdot;
			<?php endif ?>

			<?php if ($url = $_helper->getConfig('signin_url')): ?>
			<a href="<?php echo $this->htmlEscape($url) ?>"><?php echo $this->__('Sign In') ?></a>
			<?php endif ?>

			<?php endif ?>
		</div>
	</div>
</div>
