<div style="width:653px; float:left;">
  <img src="<?php echo $this->getSkinUrl('images/media/home_co_main.jpg');?>" alt="" style="display:block;" /></div>
<div style="width:280px; float:right;">
  <img src="<?php echo $this->getSkinUrl('images/media/home_co_tr.gif');?>" alt="" style="display:block; margin-bottom:10px;" />
  <img src="<?php echo $this->getSkinUrl('images/media/home_co_br.gif');?>" alt="" style="display:block;" />
</div>
<div class="clear"></div>
<img src="<?php echo $this->getSkinUrl('images/media/home_co_bottom.gif');?>" alt="" style="margin-top:10px; display:block;" />