<div id="kataloger">
<?php
	 function renderCategories($categories, $level = 0) {
	$helper = Mage::helper('catalog/category'); //->getCategoryUrl($category),
	// $block = Mage::createBlock("catalog/navigation");
	// $helper->getCategoryUrl();
	if ($categories) {
		if ($categories->count() > 0) {
			echo '<ul>';
		}
		foreach ($categories as $category) {
			if ($category->getIsActive()) {
				$url = $helper->getCategoryUrl($category);

				$route = 'rss/catalog/category';
				$params = array('store_id' => Mage::app()->getStore()->getId(),
												'cid' => $category->getId());
				$feedUrl = Mage::getUrl($route, $params);

				$pdfUrl = Mage::getBaseUrl().'rss-to-pdf/makepdf.php?'.http_build_query(array('feed' => $feedUrl));

				echo '<li>';
				echo '<div class="name level-'.$level.'">';
				if (true || ($level > 0)) {
					echo '<a target="_blank" href="'.htmlspecialchars($pdfUrl).'">', $category->getName(), '</a>';
				} else {
					echo $category->getName();
				}
				echo '</div>';
				// echo $category->getChildren()->count();
				
				// hack for viasystime - dont show child categories
				if (Mage::app()->getStore()->getId() != 3) {
				  renderCategories($category->getChildren(), $level+1);
				}
				echo '</li>';
			}
		}
		if ($categories->count() > 0) {
			echo '</ul>';
		}
	}
}

$sorted = false;
$categories = Mage::helper('catalog/category')->getStoreCategories($sorted);
renderCategories($categories);
?>
</div>
