<div class="tx-systimelabfeed-pi1">
	<div class="hd">
		<a href="http://lab.systime.dk/">
		<img src="<?php echo $this->getSkinUrl('images/logo_siteforsider.png') ?>" width="141" height="27" border="0" alt="" title="" style="vertical-align:text-bottom;" /></a>
		<!-- <p style="margin: 12px 0 5px 0"> -->
			- vær med i udviklingen
		<!-- </p> -->
		<!-- <h1 style="padding-bottom: 0; padding-top: 7px; border-top: 1px solid #ddd; font-weight: bolder; color: #000; margin-top: 10px;">Seneste indlæg</h1> -->
		<div style="font-weight: bolder; margin: 5px 0">Seneste indlæg</div>
	</div>
	<div class="bd">
		<div id="systime-labfeed" class="blog-feed">Henter indhold ...</div>
		<div style="font-weight: bolder; margin: 5px 0">
			<a href="http://lab.systime.dk/" style="text-decoration: none">&raquo; Deltag i udviklingen</a>
		</div>
	</div>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/labfeed.js') ?>"></script>
<script type="text/javascript">/*<![CDATA[*/
YAHOO.util.Event.onDOMReady(function() {
		new YAHOO.systime.LabFeed("systime-labfeed", {
				// "proxyUrl":"http:\/\/www.systime.dk\/typo3conf\/ext\/systime_labfeed\/pi1\/proxy.php",
				"proxyUrl":"\/scripts\/proxy.php",
				// "url":"http:\/\/lab.systime.dk\/feed\/",
				"url":"http:\/\/feeds.feedburner.com\/SystimeLab",
				"numberOfPosts":5,
				"showSubjects":false,
				"excerptLength":60
			});
	});
/*]]>*/</script>
</div>
