<div class="tx-systimelabfeed-pi1">
	<div class="hd">
		<a href="http://lab.systime.dk/">
			<img src="<?php echo $this->getSkinUrl('images/logo_siteforsider.png') ?>" width="141" height="27" border="0" alt="" title="" style="vertical-align:text-bottom;" />
		</a>
		<!-- <p style="margin: 12px 0 5px 0"> -->
		- vær med i udviklingen
		<!-- </p> -->
	</div>
	<div class="bd">
		<div class="info">
	 <?php echo Mage::helper('systimemisc')->renderBlock('systimelab_info', 'systimelab-info') ?>
		</div>
		<div class="feed">
			<!-- <h1 style="padding-bottom: 0; padding-top: 7px; border-top: 1px solid #ddd; font-weight: bolder; color: #000; margin-top: 10px;">Seneste indlæg</h1> -->
			<div style="font-weight: bolder; margin: 5px 0">Seneste indlæg</div>
			<div id="systime-labfeed" class="blog-feed">Henter indhold ...</div>
			<?php if (false): ?>
			<div style="font-weight: bolder; margin: 5px 0">
				<a href="http://lab.systime.dk/" style="text-decoration: none">&raquo; Deltag i udviklingen</a>
			</div>
			<?php endif ?>
			<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/systime-labfeed.js') ?>"></script>
			<script type="text/javascript">/*<![CDATA[*/
				Event.observe(window, "load", function() {
					new systime.LabFeed("systime-labfeed", {
						// proxyUrl: "http:\/\/www.systime.dk\/typo3conf\/ext\/systime_labfeed\/pi1\/proxy.php",
						proxyUrl: "\/scripts\/proxy.php",
						// url: "http:\/\/lab.systime.dk\/feed\/",
						url: "http:\/\/feeds.feedburner.com\/SystimeLab",
						// url: "http:\/\/lab.systime.dk/feed/",
						numberOfPosts: 4,
						showSubjects: true,
						excerptLength: 60
					});
				});
			/*]]>*/</script>
		</div>
	</div>
	<div class="ft">
		<img src="<?php echo $this->getSkinUrl('images/systimelab_slogan.png') ?>" alt="... mødested for lærere og forfattere"/>
	</div>
</div>
