<?php
$_product = $this->getProduct();
// Scribd preview
// Scribd code example: [scribd id=20208439 key=key-15uvqmnbut5apujc80r0]
if (preg_match('/\[scribd\sid=([0-9]+)\skey=([a-zA-Z0-9\-]+)\]/', $_product->getScribdCode(), $matches)):
	//echo 'scribd code found';
	//print_r($matches);
	$scribd_id = $matches[1];
	$scribd_key = $matches[2];
?>

<!--
<a title="View MAT on Scribd" href="http://www.scribd.com/doc/7476547/MAT" style="margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block; text-decoration: underline;">MAT</a> <object id="doc_49960300261992" name="doc_49960300261992" height="500" width="450" type="application/x-shockwave-flash" data="http://d1.scribdassets.com/ScribdViewer.swf" style="outline:none;" >		<param name="movie" value="http://d1.scribdassets.com/ScribdViewer.swf">		<param name="wmode" value="opaque"> 		<param name="bgcolor" value="#ffffff"> 		<param name="allowFullScreen" value="true"> 		<param name="allowScriptAccess" value="always"> 		<param name="FlashVars" value="document_id=7476547&access_key=key-y5jh79p3p01t8odm3c5&page=1&viewMode=list">     	</object>	

-->


<a href="#" onclick="launchScribd('<?php echo $scribd_id ?>', '<?php echo $scribd_key ?>');return false;"><img src="<?php echo $this->getSkinUrl('images/scribdpreview.png') ?>"  alt="Scribd preview"/></a>
<div id="scribd-preview" style="display: none; height: 500px"></div>
<script language="javascript">
var scribd_on = false;
var test = 'testing';
function launchScribd(id, key) {
	Effect.toggle('scribd-preview', 'blind', { beforeStart: function() {
			$('scribd-preview').innerHTML = '';
		}, afterFinish: function() {
			// Fill in scribd preview after finish to avoid rendering problems during animation
			scribd_on = !scribd_on;
			if (scribd_on) {
/*
			$('scribd-preview').innerHTML = '<div><object codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" id="doc_619412386316091" name="doc_619412386316091" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" align="middle"    height="500" width="450" >        <param name="movie"    value="http://d1.scribdassets.com/ScribdViewer.swf?document_id='+id+'&access_key='+key+'&page=1&version=1&viewMode=list">         <param name="quality" value="high">         <param name="play" value="true">        <param name="loop" value="true">         <param name="scale" value="showall">        <param name="wmode" value="opaque">         <param name="devicefont" value="false">        <param name="bgcolor" value="#ffffff">         <param name="menu" value="true">        <param name="allowFullScreen" value="true">         <param name="allowScriptAccess" value="always">         <param name="salign" value="">                        <param name="mode" value="list">                <embed src="http://d1.scribdassets.com/ScribdViewer.swf?document_id='+id+'&access_key='+key+'&page=1&version=1&viewMode=list" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" play="true" loop="true" scale="showall" wmode="opaque" devicefont="false" bgcolor="#ffffff" name="doc_619412386316091_object" menu="true" allowfullscreen="true" allowscriptaccess="always" salign="" type="application/x-shockwave-flash" align="middle" mode="list" height="500" width="450"></embed>    </object></div>';
*/

$('scribd-preview').innerHTML = '<object id="scribd_preview" name="scribd_preview" height="500" width="450" type="application/x-shockwave-flash" data="http://d1.scribdassets.com/ScribdViewer.swf" style="outline:none;" ><param name="movie" value="http://d1.scribdassets.com/ScribdViewer.swf"/><param name="wmode" value="opaque"/><param name="bgcolor" value="#ffffff"/><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/><param name="FlashVars" value="document_id='+id+'&access_key='+key+'&page=1&viewMode=list"/><\/object>';
			}
		}
	});
}
</script>
<?php endif; ?>
