<?php
if (is_array($this->getEkeys()) && (count($this->getEkeys()) > 0)): ?>
<dl>
	 <?php foreach ($this->getEkeys() as $key): ?>
	 <dt><?php echo $this->__('Publication Title') ?></dt>
	 <dd><?php echo $this->htmlEscape($key->title) ?></dd>
	 <dt><?php echo (count($key->codes) == 1) ? $this->__('E-key code') : $this->__('E-key codes') ?></dt>
	 <dd>
	 <?php foreach ($key->codes as $code): ?>
	 <?php
$keycode = $code['code'];
$activationCount = intval($code['count']);
echo '<a href="'.$this->htmlEscape($this->getEKeyActivationUrl($keycode)).'">'.$this->htmlEscape($keycode).'</a>';
if ($activationCount > 1) {
	echo '<br/>'.sprintf($this->__('Number of allowed activations: %1$d'), $activationCount);
}
?>
	 </dd>
	 <?php endforeach ?>
	 <?php endforeach ?>
</dl>
<?php endif ?>
