<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<?php

$_page = $this->getHelper('cms/page')->getPage();
$_isHomepage = $_page ? ($_page->getIdentifier() == 'home') : false;
$_isHomepage = false;

$_helper = Mage::helper('systimesso');

$_logo = '';
$_storeCode = Mage::app()->getStore()->getCode();
$_logoFile = 'images/store_logo_'.$_storeCode.'.png';
$_logoFilename = Mage::getDesign()->getFilename($_logoFile, array('_type' => 'skin'));

if (is_file($_logoFilename)) {
	$_logo = '<a href="'.htmlspecialchars(Mage::getBaseUrl()).'">'
		.'<img class="systime-logo" src="'.htmlspecialchars($this->getSkinUrl($_logoFile)).'" alt=""/>'
		.'</a>';
 }

// echo '<pre>', print_r(array(
// 														'_storeCode' => $_storeCode,
// 														'_logoFile' => $_logoFile,
// 														'_logoFilename' => $_logoFilename,
// 														'isfile(...)' => is_file($_logoFilename),
//  														), true), '</pre>';
// die(__FILE__);

$_navItems = array();

if (Mage::getSingleton('customer/session')->isLoggedIn()) {
	$_customer = Mage::getSingleton('customer/session')->getCustomer();
	$_navItems[] = $this->htmlEscape($_customer->getEmail());

	if ($url = $_helper->getConfig('activate_ekey_url')) {
		$_navItems[] = '<a href="'.$this->htmlEscape($url).'">'.$this->__('Activate E-key').'</a>';
	}

	if ($url = $_helper->getConfig('home_url')) {
		$_navItems[] = '<a href="'.$this->htmlEscape($url).'">'.$this->__('My Account').'</a>';
	}

	if ($url = $_helper->getConfig('signout_url')) {
		$_navItems[] = '<a href="'.$this->htmlEscape($url).'">'.$this->__('Sign Out').'</a>';
	}
} else {
	if ($url = $_helper->getConfig('activate_ekey_url')) {
		$_navItems[] = '<a href="'.$this->htmlEscape($url).'">'.$this->__('Activate E-key').'</a>';
	}

	if ($url = $_helper->getConfig('new_account_url')) {
		$_navItems[] = '<a href="'.$this->htmlEscape($url).'">'.$this->__('New Account').'</a>';
	}

	if ($_isHomepage) {
		if ($url = $_helper->getConfig('signin_url')) {
			$_navItems[] = '<a href="'.$this->htmlEscape($url).'">'.$this->__('Sign In').'</a>';
		}
	} else {
		if ($url = $_helper->getContinueUrl('signin_url')) {
			$_navItems[] = '<a href="'.$this->htmlEscape($url).'">'.$this->__('Sign In').'</a>';
		}
	}
}
?>
<div id="systime-topbar">
	<div class="yui-g">
		<div class="yui-u first">
			<?php echo $_logo ?>
		</div>
		<div class="yui-u">
			<?php echo implode(' &middot; ', $_navItems) ?>
		</div>
	</div>
</div>
