<div class="content-header">
	<table cellspacing="0" class="grid-header">
		<tr>
			<td><h3><?php echo $this->__('Systime Sanity Title') ?></h3></td>
			<td class="a-right">
				<a href="<?php echo $this->getUrl('*/*/index') ?> class="scalable save" type="button"><span><?php echo $this->__('Refresh') ?></span></a>
				<a href="<?php echo $this->getUrl('*/*/index', array('type' => 'errors')) ?>" class="scalable save" type="button"><span><?php echo $this->__('Errors') ?></span></a>
				<a href="<?php echo $this->getUrl('*/*/configurable') ?>" class="scalable save" type="button"><span><?php echo $this->__('Configurable') ?></span></a>
			</td>
		</tr>
	</table>
</div>
<div class="entry-edit">
	<form id="edit_form" name="edit_form" method="get" action="<?php echo $this->getUrl('*/*/index') ?>">
	<?php $this->load() ?>

	<?php $_errors = $this->getAllErrors(); ?>
	<?php if ($_errors): ?>
	<h4><?php echo $this->__('Errors') ?></h4>
	<dl>
		<?php foreach ($_errors as $_sku => $_messages): $_product = $this->getProduct($_sku); ?>

		<dt>
			<a href="<?php echo $this->htmlEscape($this->getProductEditUrl($_product->getId())) ?>">
			<?php echo $_product->getName() ?>
			(<?php echo $_product->getSku() ?>)
		</a>
		</dt>
		<?php foreach ($_messages as $_message): ?>
		<dd><?php echo $_message ?></dd>
		<?php endforeach ?>
		<?php endforeach ?>
	</dl>
	<?php endif ?>

	<?php $_products = $this->getSuperProducts(); ?>
	<?php if ($_products): ?>
	<h4><?php echo $this->__('Configurable Product Prices') ?></h4>
	<dl>
		<?php foreach ($_products as $_sku => $_info): //$_product = $this->getProduct($_sku); ?>
		<dt>
			<a href="<?php echo $this->htmlEscape($this->getProductEditUrl($_info['product_id'])) ?>">
			<?php echo $_info['sku'] ?>
		</a>
		</dt>
		<?php foreach ($_info['licenses'] as $_licenseType => $_info): ?>
		<dd><?php echo $this->getLicenseTypeLabel($_licenseType) ?>: <?php echo $this->formatPrice($_info['price']) ?></dd>
		<?php endforeach ?>
		<?php endforeach ?>
		<dt>
	</dl>
	<?php endif ?>

</form>
</div>
<script type="text/javascript">
	var editForm = new varienForm('edit_form');
</script>
