<?php // Render "Find shipping address" ?>
<script type="text/javascript">
if (typeof Systime == 'undefined') {
var Systime = {};
}
(function() {
	Systime.findShippingAddress = function() {
		Element.show("shipping-address-search");
	}
	Systime.setShippingAddress = function(address) {
		var p, field, map;
		Element.hide("shipping-address-search");
		if (address) {
			map = {
				// address field -> form field id (without "shipping:" prefix)
				"company": "company",
				"street": "street1",
				"city": "city",
				"zip": "postcode",
				"phone": "telephone",
				"fax" : "fax"
			};
			for (p in map) {
				field = $("shipping:"+map[p]);
				if (field) {
					field.value = address[p] ? address[p] : '';
				}
			}

			// Set country field by text!
			p = "country_id";
			field = $("shipping:"+p);
			if (field) {
				Form.Element.setValue(field, (address["country"] && Systime.COUNTRYCODES_da_DK[address["country"]]) ? Systime.COUNTRYCODES_da_DK[address["country"]] : "");
			}
		}
	}
}());
		</script>
		<?php
		$storeId = Mage::app()->getStore()->getId();
		$lang = Mage::app()->getLocale()->getDefaultLocale();

// var_dump(array(
// 							 $storeId,
// 							 $lang,
// 							 ));

$_helper = Mage::helper('systimemisc');
$searchUrl = '/scripts/systime/searchcompanies.php?callback=Systime.setShippingAddress&lang='.$lang;
?>
<div class="systime-address-search">
<div class="hd">
<button type="button" onclick="Systime.findShippingAddress()"><?php echo $_helper->__('Find Shipping Address') ?></button>
</div>
<div class="bd">
<iframe id="shipping-address-search" style="display: none" frameborder="0" src="<?php echo htmlspecialchars($searchUrl) ?>"></iframe>
</div>
</div>
